<!--
  - Copyright (c) myfAd Tech Sdn. Bhd.
  - Created by @ahmadfirdaus3112@gmail.com
  -->

<template>
  <div class="container-fluid">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Dashboard</h1>
          </div>
          <!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">
                <router-link to="/home">Home</router-link>
              </li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>

    <div class="row">
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
          <div class="inner">
            <h3>{{SelectedShareCount}}</h3>

            <p>Selected Share</p>
          </div>
          <div class="icon">
            <i class="fas fa-envelope"></i>
          </div>
          <a
            @click="$router.push('/subscriber_ads?ads=selected-ads')"
            class="small-box-footer"
            href="#"
          >
            More info
            <i class="fa fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
          <div class="inner">
            <h3>{{ CharityShareCount }}</h3>

            <p>Charity Share</p>
          </div>
          <div class="icon">
            <i class="fas fa-hand-holding-usd"></i>
          </div>
          <a
            @click="$router.push('/subscriber_ads?ads=charity-ads')"
            class="small-box-footer"
            href="#"
          >
            More info
            <i class="fa fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
          <div class="inner">
            <h3>{{ OpenShareCount }}</h3>

            <p>Open Share</p>
          </div>
          <div class="icon">
            <i class="fas fa-envelope-open-text"></i>
          </div>
          <a
            @click="$router.push('/subscriber_ads?ads=open-ads')"
            class="small-box-footer"
            href="#"
          >
            More info
            <i class="fa fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
          <div class="inner">
            <h3>{{ ContestShareCount }}</h3>

            <p>Open Contest</p>
          </div>
          <div class="icon">
            <i class="fas fa-trophy"></i>
          </div>
          <a
            @click="$router.push('/subscriber_ads?ads=contest-ads')"
            class="small-box-footer"
            href="#"
          >
            More info
            <i class="fa fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>
      <!-- ./col -->
    </div>
    <div class="row">
      <div class="col">
        <!-- small box -->
        <div class="small-box bg-primary-gradient" align="center">
          <div class="inner">
            <h3>RM{{earning}}</h3>

            <p>Earning</p>
          </div>
          <div class="icon">
            <i class="fas fa-money-bill-wave"></i>
          </div>
          <a @click="$router.push('/subscriber_cashout')" class="small-box-footer" href="#">
            Cashout
            <i class="fa fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>
      <!-- ./col -->
    </div>

    <!--<div class="row">
			<div class="col-12 col-sm-6 col-md-3">
				<div class="info-box">
					<span class="info-box-icon bg-info elevation-1"><i class="fa fa-gear"></i></span>

					<div class="info-box-content">
						<span class="info-box-text">CPU Traffic</span>
						<span class="info-box-number"></span>
                  10
                  <small>%</small>
                </span>
					</div>
					&lt;!&ndash; /.info-box-content &ndash;&gt;
				</div>
				&lt;!&ndash; /.info-box &ndash;&gt;
			</div>
			&lt;!&ndash; /.col &ndash;&gt;
			<div class="col-12 col-sm-6 col-md-3">
				<div class="info-box mb-3">
					<span class="info-box-icon bg-danger elevation-1"><i class="fa fa-google-plus"></i></span>

					<div class="info-box-content">
						<span class="info-box-text">Likes</span>
						<span class="info-box-number">41,410</span>
					</div>
					&lt;!&ndash; /.info-box-content &ndash;&gt;
				</div>
				&lt;!&ndash; /.info-box &ndash;&gt;
			</div>
			&lt;!&ndash; /.col &ndash;&gt;

			&lt;!&ndash; fix for small devices only &ndash;&gt;
			<div class="clearfix hidden-md-up"></div>

			<div class="col-12 col-sm-6 col-md-3">
				<div class="info-box mb-3">
					<span class="info-box-icon bg-success elevation-1"><i class="fa fa-shopping-cart"></i></span>

					<div class="info-box-content">
						<span class="info-box-text">Sales</span>
						<span class="info-box-number">760</span>
					</div>
					&lt;!&ndash; /.info-box-content &ndash;&gt;
				</div>
				&lt;!&ndash; /.info-box &ndash;&gt;
			</div>
			&lt;!&ndash; /.col &ndash;&gt;
			<div class="col-12 col-sm-6 col-md-3">
				<div class="info-box mb-3">
					<span class="info-box-icon bg-warning elevation-1"><i class="fa fa-users"></i></span>

					<div class="info-box-content">
						<span class="info-box-text">New Members</span>
						<span class="info-box-number">2,000</span>
					</div>
					&lt;!&ndash; /.info-box-content &ndash;&gt;
				</div>
				&lt;!&ndash; /.info-box &ndash;&gt;
			</div>
			&lt;!&ndash; /.col &ndash;&gt;
    </div>-->

    <!--<div class="card">
			<div class="card-header border-transparent">
				<h3 class="card-title">Latest Orders</h3>

				<div class="card-tools">
					<button type="button" class="btn btn-tool" data-widget="collapse">
						<i class="fa fa-minus"></i>
					</button>
					<button type="button" class="btn btn-tool" data-widget="remove">
						<i class="fa fa-times"></i>
					</button>
				</div>
			</div>
			&lt;!&ndash; /.card-header &ndash;&gt;
			<div class="card-body p-0" style="display: block;">
				<div class="table-responsive">
					<table class="table m-0">
						<thead>
						<tr>
							<th>Order ID</th>
							<th>Item</th>
							<th>Status</th>
							<th>Popularity</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td><a href="pages/examples/invoice.html">OR9842</a></td>
							<td>Call of Duty IV</td>
							<td><span class="badge badge-success">Shipped</span></td>
							<td>
								<div class="sparkbar" data-color="#00a65a" data-height="20"><canvas style="display: inline-block; width: 34px; height: 20px; vertical-align: top;" width="34" height="20"></canvas></div>
							</td>
						</tr>
						<tr>
							<td><a href="pages/examples/invoice.html">OR1848</a></td>
							<td>Samsung Smart TV</td>
							<td><span class="badge badge-warning">Pending</span></td>
							<td>
								<div class="sparkbar" data-color="#f39c12" data-height="20"><canvas style="display: inline-block; width: 34px; height: 20px; vertical-align: top;" width="34" height="20"></canvas></div>
							</td>
						</tr>
						<tr>
							<td><a href="pages/examples/invoice.html">OR7429</a></td>
							<td>iPhone 6 Plus</td>
							<td><span class="badge badge-danger">Delivered</span></td>
							<td>
								<div class="sparkbar" data-color="#f56954" data-height="20"><canvas style="display: inline-block; width: 34px; height: 20px; vertical-align: top;" width="34" height="20"></canvas></div>
							</td>
						</tr>
						<tr>
							<td><a href="pages/examples/invoice.html">OR7429</a></td>
							<td>Samsung Smart TV</td>
							<td><span class="badge badge-info">Processing</span></td>
							<td>
								<div class="sparkbar" data-color="#00c0ef" data-height="20"><canvas style="display: inline-block; width: 34px; height: 20px; vertical-align: top;" width="34" height="20"></canvas></div>
							</td>
						</tr>
						<tr>
							<td><a href="pages/examples/invoice.html">OR1848</a></td>
							<td>Samsung Smart TV</td>
							<td><span class="badge badge-warning">Pending</span></td>
							<td>
								<div class="sparkbar" data-color="#f39c12" data-height="20"><canvas style="display: inline-block; width: 34px; height: 20px; vertical-align: top;" width="34" height="20"></canvas></div>
							</td>
						</tr>
						<tr>
							<td><a href="pages/examples/invoice.html">OR7429</a></td>
							<td>iPhone 6 Plus</td>
							<td><span class="badge badge-danger">Delivered</span></td>
							<td>
								<div class="sparkbar" data-color="#f56954" data-height="20"><canvas style="display: inline-block; width: 34px; height: 20px; vertical-align: top;" width="34" height="20"></canvas></div>
							</td>
						</tr>
						<tr>
							<td><a href="pages/examples/invoice.html">OR9842</a></td>
							<td>Call of Duty IV</td>
							<td><span class="badge badge-success">Shipped</span></td>
							<td>
								<div class="sparkbar" data-color="#00a65a" data-height="20"><canvas style="display: inline-block; width: 34px; height: 20px; vertical-align: top;" width="34" height="20"></canvas></div>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
				&lt;!&ndash; /.table-responsive &ndash;&gt;
			</div>
			&lt;!&ndash; /.card-body &ndash;&gt;
			<div class="card-footer clearfix" style="display: block;">
				<a href="javascript:void(0)" class="btn btn-sm btn-info float-left">Place New Order</a>
				<a href="javascript:void(0)" class="btn btn-sm btn-secondary float-right">View All Orders</a>
			</div>
			&lt;!&ndash; /.card-footer &ndash;&gt;
    </div>-->
	  <!--<div>
			  <b-table stacked="md" :items="items"></b-table>
	  </div>-->
  </div>
	
</template>

<script>
import { earning } from "../mixins/subscriber/earning";
export default {
  mixins: [earning],
  data() {
    return {
      items: [
        { age: 40, first_name: "Dickerson", last_name: "Macdonald" },
        { age: 21, first_name: "Larsen", last_name: "Shaw" },
        { age: 89, first_name: "Geneva", last_name: "Wilson" }
      ],

      SelectedShareCount: "",
      CharityShareCount: "",
      OpenShareCount: "",
      ContestShareCount: ""
    };
  },
  methods: {
    getCount() {
      axios
        .get("api/subscriber/share_count")
        .then(
          response => (
            (this.SelectedShareCount = response.data[0].SelectedShareCount),
            (this.CharityShareCount = response.data[0].CharityShareCount),
            (this.OpenShareCount = response.data[0].OpenShareCount),
            (this.ContestShareCount = response.data[0].ContestShareCount)
          )
        )
        .catch(error => console.log(error.response.data));
    }
  },
  created() {
    this.getCount();
  },
  mounted: function() {
    // Code that will run only after the
    // entire view has been rendered
  }
};
</script>
