<!--
  - Copyright (c) myfAd Tech Sdn. Bhd.
  - Created by @ahmadfirdaus3112@gmail.com
  -->

<template>
  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">#YouShareYouGain</div>
    <!-- Default to the left -->
    <strong>
      Copyright &copy; 2018
      <a href="https://mobile.myfad.my">myfAd Tech Sdn Bhd</a>.
    </strong> All rights
    reserved.
  </footer>
</template>

<script>
export default {
  name: "Footer"
};
</script>

<style scoped>
</style>
