<!--
  - Copyright (c) myfAd Tech Sdn. Bhd.
  - Created by @ahmadfirdaus3112@gmail.com
  -->

<template>
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a class="brand-link" href="/home">
      <img
        alt="myfad Logo"
        class="brand-image"
        style="opacity: .8"
        v-bind:src="'img/' + myfad_logo"
      >
      <span class="brand-text font-weight-light">
        myfAd
        <small>
          <sup>
            <!--{{ str_replace('_', '-', app()->getLocale()) }}-->
          </sup>
        </small>
      </span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img alt="User Image" class="img-circle elevation-2" :src="profile.picture.url">
        </div>
        <div class="info">
          <a class="d-block" href="#">
            <p>{{profile.first_name}}</p>
          </a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul
          class="nav nav-pills nav-sidebar flex-column"
          data-accordion="false"
          data-widget="treeview"
          role="menu"
        >
          <!-- Add icons to the links using the .nav-icon class
          with font-awesome or any other icon font library-->

          <li class="nav-item">
            <router-link class="nav-link" to="/dashboard">
              <i class="nav-icon fas fa-10x fa-tachometer-alt blue"></i>
              <p>{{ $t("sidebar.dashboard") }}</p>
            </router-link>
          </li>
          <!--subscriber-->
          <li class="nav-item has-treeview">
            <a class="nav-link" href="#">
              <i class="nav-icon fas fa-user purple"></i>
              <p>
                Subscriber
                <i class="right fa fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <router-link class="nav-link" to="/subscriber_profile">
                  <i class="nav-icon fas fa-id-card purple"></i>
                  <p>Subscriber Profile</p>
                </router-link>
              </li>
            </ul>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <router-link class="nav-link" to="/subscriber_network">
                  <i class="nav-icon fas fa-sitemap purple"></i>
                  <p>Network</p>
                </router-link>
              </li>
            </ul>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <router-link class="nav-link" to="/subscriber_referral">
                  <i class="nav-icon fas fa-hashtag purple"></i>
                  <p>Referral Page</p>
                </router-link>
              </li>
            </ul>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <router-link class="nav-link" to="/subscriber_earning">
                  <i class="nav-icon fas fa-wallet purple"></i>
                  <p>Earning</p>
                </router-link>
              </li>
            </ul>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <router-link class="nav-link" to="/subscriber_cashout">
                  <i class="nav-icon fas fa-money-bill-alt purple"></i>
                  <p>Cashout</p>
                </router-link>
              </li>
            </ul>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <router-link class="nav-link" to="/subscriber_ads">
                  <i class="nav-icon fas fa-ad purple"></i>
                  <p>Ads</p>
                </router-link>
              </li>
            </ul>
          </li>

          <!--merchant-->

          <!--<li class="nav-item has-treeview">
                        <a class="nav-link" href="#">
                            <i class="nav-icon fa fa-cog cyan"></i>
                            <p>
                                Merchant
                                <i class="right fa fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <router-link class="nav-link" to="/merchant_register">
                                    <i class="nav-icon fas fa-sitemap purple"></i>
                                    <p>
                                        Register Merchant
                                    </p>
                                </router-link>
                            </li>

                        </ul>

          </li>-->

          <li class="nav-item has-treeview" v-for="mct in merchant" v-if="merchant_id.length != 0">
            <a class="nav-link" href="#">
              <i class="nav-icon fas fa-user-tie green"></i>
              <p>
                {{mct.mct_name}}
                <i class="right fa fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <router-link :to="'/merchant_profile?mct_id=' + mct.mct_id" class="nav-link">
                  <i class="nav-icon fas fa-id-card green"></i>
                  <p>Merchant Profile</p>
                </router-link>
              </li>
            </ul>

            <!--<ul class="nav nav-treeview">
                            <li class="nav-item">
                                <router-link :to="'/merchant_admin?mct_id=' + mct.mct_id"
                                             class="nav-link">
                                    <i class="nav-icon fas fa-user orange"></i>
                                    <p>
                                        Account Administrator
                                    </p>
                                </router-link>
                            </li>

            </ul>-->

            <ul class="nav nav-treeview">
              <li class="nav-item">
                <router-link :to="'/merchant_page?mct_id=' + mct.mct_id" class="nav-link">
                  <i class="nav-icon fab fa-facebook green"></i>
                  <p>Page Management</p>
                </router-link>
              </li>
            </ul>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <router-link :to="'/merchant_ads?mct_id=' + mct.mct_id" class="nav-link">
                  <i class="nav-icon fas fa-edit green"></i>
                  <p>Ads Management</p>
                </router-link>
              </li>
            </ul>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <router-link :to="'/merchant_contest?mct_id=' + mct.mct_id" class="nav-link">
                  <i class="nav-icon fas fa-pen green"></i>
                  <p>Contest Ads</p>
                </router-link>
              </li>
            </ul>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <router-link :to="'/merchant_token?mct_id=' + mct.mct_id" class="nav-link">
                  <i class="nav-icon fas fa-coins green"></i>
                  <p>Token</p>
                </router-link>
              </li>
            </ul>
          </li>

          <li v-if="merchant_id.length == 0" class="nav-item has-treeview">
            <a class="nav-link" href="#">
              <i class="nav-icon fa fa-cog green"></i>
              <p>
                Merchant
                <i class="right fa fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <router-link class="nav-link" to="/merchant_register">
                  <i class="nav-icon fas fa-user green"></i>
                  <p>Merchant Register</p>
                </router-link>
              </li>
            </ul>

            <!--<ul class="nav nav-treeview">
                            <li class="nav-item">
                                <router-link class="nav-link" to="/users">
                                    <i class="fas fa-users nav-icon"></i>
                                    <p>Users</p>
                                </router-link>
                            </li>

            </ul>-->
          </li>
          <li class="nav-item has-treeview" v-if="merchant_id.length != 0">
            <a class="nav-link" href="#">
              <i class="nav-icon fas fa-user-cog orange"></i>
              <p>
                Management
                <i class="right fa fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <router-link class="nav-link" to="/merchant_admin">
                  <i class="nav-icon fas fa-user-shield orange"></i>
                  <p>Account Administrator</p>
                </router-link>
              </li>
            </ul>

            <!--<ul class="nav nav-treeview">
                            <li class="nav-item">
                                <router-link class="nav-link" to="/users">
                                    <i class="fas fa-users nav-icon"></i>
                                    <p>Users</p>
                                </router-link>
                            </li>

            </ul>-->
          </li>

          <li class="nav-item has-treeview" v-if="$gate.isAdminOrReviewer()">
            <a class="nav-link" href="#">
              <i class="nav-icon fas fa-users-cog yellow"></i>
              <p>
                Reviewer
                <i class="right fa fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <router-link class="nav-link" to="/reviewer_new_ads">
                  <i class="nav-icon fas fa-exclamation yellow"></i>
                  <p>New Ads</p>
                </router-link>
                <router-link class="nav-link" to="/reviewer_inbox">
                  <i class="nav-icon fas fa-inbox yellow"></i>
                  <p>Inbox</p>
                </router-link>
                <router-link class="nav-link" to="/reviewer_verified_ads">
                  <i class="nav-icon fas fa-clipboard-check yellow"></i>
                  <p>Verified Ads</p>
                </router-link>
              </li>
            </ul>
          </li>

          <!--<li class="nav-item has-treeview" v-if="$gate.isAdmin()">
                        <a class="nav-link" href="#">
                            <i class="nav-icon fa fa-cog green"></i>
                            <p>
                                Administrator
                                <i class="right fa fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <router-link class="nav-link"
                                             to="/merchant_admin">
                                    <i class="nav-icon fas fa-user orange"></i>
                                    <p>
                                        test
                                    </p>
                                </router-link>
                            </li>
                        </ul>
          </li>-->

          <!--<li class="nav-item">
                        <router-link class="nav-link" to="/developer">
                            <i class="nav-icon fas fa-cogs"></i>
                            <p>
                                Developer
                            </p>
                        </router-link>
          </li>-->

          <li class="nav-item">
            <a @click.prevent="logout" class="nav-link" href>
              <i class="nav-icon fas fa-sign-out-alt red"></i>
              <p>Logout</p>
            </a>

            <!--<form action="{{ route('logout') }}" id="logout-form" method="POST" style="display: none;">

            </form>-->
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
</template>

<script>
export default {
  data() {
    return {
      search: "",
      merchant: {},
      merchant_id: {},
      myfad_logo: "logo.png",
      profile: {
        picture: {}
      }
    };
  },
  methods: {
    searchit: _.debounce(function() {
      // Do Stuff Here
      this.$Progress.start();
      Fire.$emit("searching", this.search);
      this.$Progress.finish();
    }, 1000),

    refresh: _.debounce(function() {
      this.$router.go(this.$router.currentRoute);
    }, 100),
    logout() {
      axios
        .post("/logout")
        .then(response => {
          this.$router.push("/login");
        })
        .catch(error => {
          location.reload();
        });
    }
    /* logout: function() {
      axios
        .post("logout")
        .then(response => {
          if (response.status === 302 || 401) {
            this.$router.go(this.$router.currentRoute);
            console.log("logout");
          } else {
            // throw error and go to catch block
          }
        })
        .catch(error => {});
    } */
  },
  created() {
    axios
      .get("api/userprofile")
      .then(response => (this.profile = response.data))
      .catch(error => console.log(error.response.data));
    axios
      .get("api/merchant")
      .then(response => (this.merchant = response.data))
      .catch(error => console.log(error.response.data));
    axios
      .get("api/merchant_id")
      .then(response => (this.merchant_id = response.data))
      .catch(error => console.log(error.response.data));
  },
  mounted: function() {}
};
</script>

<style scoped>
</style>
