<!--
  - Copyright (c) myfAd Tech Sdn. Bhd.
  - Created by @ahmadfirdaus3112@gmail.com
  -->

<template>
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand bg-light navbar-light border-bottom">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#">
          <i class="fa fa-bars"></i>
        </a>
      </li>

      <li class="nav-item dropdown">
        <a
          aria-expanded="false"
          aria-haspopup="true"
          class="nav-link dropdown-toggle"
          data-toggle="dropdown"
          href="#"
          role="button"
        >
          <i class="fas fa-language"></i>
          {{ $t("users.user_lang") }}
        </a>
        <!--<a v-if="this.$locale.current() == 'my'"  class="nav-link dropdown-toggle" href="#" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ $t("auth.current_lang") }}
        </a>-->
        <div class="dropdown-menu">
          <a
            :key="key"
            @click.prevent="changeLang(key)"
            class="dropdown-item"
            href="#"
            v-for="(value, key) in languages"
          >{{ value }}</a>
        </div>
      </li>
    </ul>

    <!-- SEARCH FORM -->
    <!--<div>
            <div class="input-group input-group-sm">
                <input @keyup="searchit" aria-label="Search" class="form-control-navbar" placeholder="Search"
                       type="search" v-model="search">
                <div class="input-group-append">
                    <button @click="searchit" class="btn btn-navbar">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>

    </div>-->
    <li class="nav-item item">
      <a
        @click="$router.push('/subscriber_ads?ads=selected-ads')"
        aria-expanded="false"
        class="nav-link"
        href="#"
      >
        <i class="fas fa-2x fa-bell"></i>
        <span class="notify-badge-danger" v-if="SelectedShareCount==0">{{SelectedShareCount}}</span>
        <span class="notify-badge-success" v-else>{{SelectedShareCount}}</span>
      </a>
    </li>
    <li class="nav-item item">
      <a
        @click="$router.push('/subscriber_ads?ads=charity-ads')"
        aria-expanded="false"
        class="nav-link"
        href="#"
      >
        <i class="fas fa-2x fa-bell"></i>
        <span class="notify-badge-danger" v-if="CharityShareCount==0">{{CharityShareCount}}</span>
        <span class="notify-badge-success" v-else>{{CharityShareCount}}</span>
      </a>
    </li>
    <li class="nav-item item">
      <a
        @click="$router.push('/subscriber_ads?ads=open-ads')"
        aria-expanded="false"
        class="nav-link"
        href="#"
      >
        <i class="fas fa-2x fa-bell"></i>
        <span class="notify-badge-danger" v-if="OpenShareCount==0">{{OpenShareCount}}</span>
        <span class="notify-badge-success" v-else>{{OpenShareCount}}</span>
      </a>
    </li>
    <li class="nav-item item">
      <a
        @click="$router.push('/subscriber_ads?ads=contest-ads')"
        aria-expanded="false"
        class="nav-link"
        href="#"
      >
        <i class="fas fa-2x fa-bell"></i>
        <span class="notify-badge-danger" v-if="ContestShareCount==0">{{ContestShareCount}}</span>
        <span class="notify-badge-success" v-else>{{ContestShareCount}}</span>
      </a>
    </li>
    <!---->
    <ul class="navbar-nav ml-auto">
      <li class="user user-menu">
        <!--<a :href="" aria-expanded="false">

                    <img :src="profile.picture.url" class="user-image img-circle" alt="User Image" width="40"
                         height="40">
                    &lt;!&ndash;<span class="hidden-xs"> {{profile.email}}</span>&ndash;&gt;
        </a>-->
        <router-link to="/profile">
          <img
            :src="profile.picture.url"
            alt="User Image"
            class="user-image img-circle"
            height="40"
            width="40"
          >
        </router-link>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->
</template>


<script>
export default {
  data() {
    return {
      search: "",
      languages: [],
      SelectedShareCount: "",
      CharityShareCount: "",
      OpenShareCount: "",
      ContestShareCount: "",
      profile: { picture: {} }
    };
  },
  methods: {
    searchit: _.debounce(function() {
      // Do Stuff Here
      this.$Progress.start();
      Fire.$emit("searching", this.search);
      this.$Progress.finish();
    }, 1000),

    refresh: _.debounce(function() {
      this.$router.go(this.$router.currentRoute);
    }, 100),

    changeLang: function(newLang) {
      console.log(newLang);
      axios
        .post("api/setlocale", {
          lang: newLang
        })
        .then(
          //i18n.locale = newLang,
          this.$locale.change(newLang)

          //i18n.locale = newLang
          //this.$router.go(this.$router.currentRoute)
        )
        .then
        //this.refresh()
        /*this.$router.go(this.$router.currentRoute),*/
        /* window.location.reload()*/
        ();

      //axios.get('api/getlocale');
    },
    getCount() {
      axios
        .get("api/subscriber/share_count")
        .then(
          response => (
            (this.SelectedShareCount = response.data[0].SelectedShareCount),
            (this.CharityShareCount = response.data[0].CharityShareCount),
            (this.OpenShareCount = response.data[0].OpenShareCount),
            (this.ContestShareCount = response.data[0].ContestShareCount)
          )
        )
        .catch(error => console.log(error.response.data));
    }
  },
  created() {
    this.getCount();
    axios
      .get("api/userprofile")
      .then(response => (this.profile = response.data))
      .catch(error => console.log(error.response.data));

    axios
      .get("api/getlocale")
      .then(
        response => this.$locale.change(response.data)
        //response => i18n.locale = response.data
        //this.$locale.change(response =>response.data)
      )
      .catch(error => console.log(error.response.data));
    axios
      .get("api/languages")
      .then(response => (this.languages = response.data))
      .catch(error => console.log(error.response.data));
  },
  mounted: function() {
    // Code that will run only after the
    // entire view has been rendered
    (function(d, s, id) {
      var js,
        fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s);
      js.id = id;
      js.src =
        "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0&appId=1700950133453002";
      fjs.parentNode.insertBefore(js, fjs);
    })(document, "script", "facebook-jssdk");
  }
};
</script>
<style scoped>
.item {
  position: relative;
  display: inline-block;
}

.notify-badge-danger {
  position: absolute;
  right: 3px;
  top: -2px;
  background: red;
  text-align: center;
  border-radius: 30px 30px 30px 30px;
  color: white;
  padding: 3px 7px;
  font-size: 10px;
  font-weight: bold;
}

.notify-badge-success {
  position: absolute;
  right: 3px;
  top: -2px;
  background: #38c172;
  text-align: center;
  border-radius: 30px 30px 30px 30px;
  color: white;
  padding: 3px 7px;
  font-size: 10px;
  font-weight: bold;
}
</style>
