<!--
  - Copyright (c) myfAd Tech Sdn. Bhd.
  - Created by @ahmadfirdaus3112@gmail.com
  -->

<template>
    <div class="container">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Reviewer Inbox</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item">
                                <router-link to="/home">Home</router-link>
                            </li>
                            <li class="breadcrumb-item active">Reviewer Inbox</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <div class="row" v-if="$gate.isAdminOrReviewer()">
            <div class="col">
                <not-found v-if="reviewerInbox.data && reviewerInbox.data.length < 1"></not-found>
                <div class="card" v-if="reviewerInbox.data && reviewerInbox.data.length > 0">
                    <div class="card-header">
                        <h3 class="card-title">Inbox</h3>
                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input @keyup="searchit" class="form-control float-right" name="search"
                                       placeholder="Search"
                                       type="search" v-model="search">
                                
                                <div class="input-group-append">
                                    <button @click="searchit" class="btn btn-primary" type="submit"><i
                                        class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <th>No.</th>
                                <th>Ads Title</th>
                                <th>Submit Date</th>
                                <th>Type</th>
                                <th>Ads Status</th>
                                <th>Action</th>
                                <!--<th>Verify Ads</th>-->
                            </tr>
                            
                            <tr :key="index" v-for="(inbox, index) in reviewerInbox.data">
                                
                                <td>{{(reviewerInbox.current_page-1) * reviewerInbox.per_page + index + 1 }}</td>
                                <td><a :href="inbox.ads_url" target="_blank"><i
                                    class="fab fa-facebook-f"></i> {{inbox.ads_title}} <i
                                    class="fas fa-external-link-alt"></i></a></td>
                                <td>{{inbox.ads_created_date | moment("DD-MM-YYYY")}}</td>
                                <td>{{inbox.ads_type}}</td>
                                <td>{{inbox.adstatus_name}}</td>
                                <td>
                                    <a @click="releaseAds(inbox)" href="#"
                                       v-if="inbox.reviewer_inbox !== null">
                                        <span class="badge badge-danger">Release <i
                                            class="fas fa-lock-open"></i></span>
                                    
                                    
                                    </a>
                                    <a @click="verifyAds(inbox)" href="#"
                                       v-if="inbox.reviewer_inbox !== null">
                                        <span class="badge badge-success">Verify <i
                                            class="fas fa-check-circle"></i></span>
    
                                    </a>
                                </td>
                               
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <pagination :data="reviewerInbox" :limit="3" :show-disabled="true"
                                    @pagination-change-page="getResults"
                                    class="float-right"></pagination>
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
        
        
        <!--Modal: Name-->
        <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="modalYT"
             role="dialog" tabindex="-1">
            <div class="modal-dialog modal-lg" role="document">
                <!--Content-->
                <div class="modal-content">
                    
                    <!--Body-->
                    <div class="modal-body mb-0 p-0">
                        
                        <div class="embed-responsive">
                            <b-card class="text-center" no-body>
                                <div
                                    :data-href="form.ads_url"
                                    class="fb-post"
                                    data-adapt-container-width="true"
                                    data-show-text="true"
                                ></div>
                            </b-card>
                        </div>
                    
                    </div>
                    
                    <!--Footer-->
                    <div class="modal-footer justify-content-center">
                        <button class="btn btn-danger" data-dismiss="modal" type="button">Close</button>
                        <button @click="approveAds(form.ads_id)" class="btn btn-success">Approve</button>
                        <button @click="rejectModal(form.ads_id)" class="btn btn-primary" type="submit">Reject</button>
                    
                    </div>
                
                </div>
                <!--/.Content-->
            
            </div>
        </div>
        <!--fggg-->
        <!-- Modal -->
        <div aria-hidden="true" aria-labelledby="addNewLabel" class="modal fade" id="modalReject" role="dialog"
             tabindex="-1">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addNewLabel">Reject Advertisement</h5>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Reject reason</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                      v-model="form.ads_reject_reason"></textarea>
                        </div>
                    
                    
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" data-dismiss="modal" type="button">Close</button>
                        <button @click="rejectAds(form.ads_id)" class="btn btn-success" type="submit">Submit</button>
                    
                    </div>
                
                
                </div>
            </div>
        </div>
        <!--fggg-->
        <!--Modal: Name-->
    
    </div>
</template>

<script>
    import _ from "lodash";
    
    export default {
        
        data() {
            return {
                errors1: "",
                search: "",
                
                reviewerInbox: {},
                form: new Form({
                    ads_id: "",
                    ads_url: "",
                    ads_type: "",
                    ads_reject_reason: ""
                    
                })
            };
        },
        methods: {
            fb: _.debounce(function () {
                // Do Stuff Here
                this.$Progress.start();
                window.FB.XFBML.parse();
                this.$Progress.finish();
            }, 500),
            refresh: _.debounce(function () {
                this.$router.go(this.$router.currentRoute);
            }, 700),
            beforeOpen(event) {
                console.log(event.params.page);
            },
            searchit: _.debounce(function () {
                // Do Stuff Here
                this.$Progress.start();
                Fire.$emit("searching", this.search);
                this.$Progress.finish();
            }, 1000),
            
            getResults(page = 1) {
                this.$Progress.start();
                axios.get("api/merchant_page?page=" + page).then(response => {
                    this.pages = response.data;
                    this.$Progress.finish();
                });
            },
            
            editModal(page) {
                this.editmode = true;
                this.form.reset();
                $("#addNew").modal("show");
                this.form.fill(page);
            },
            newModal() {
                this.editmode = false;
                this.form.reset();
                $("#addNew").modal("show");
            },
            releaseAds(inbox) {
                this.form.fill(inbox);
                swal({
                    title: "Are you sure?",
                    text: "Release ad from your inbox?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes"
                }).then(result => {
                    // Send request to the server
                    if (result.value) {
                        this.form
                            .put("api/reviewer_release_ads")
                            .then(() => {
                                swal(
                                    'Success!',
                                    'Advertisement released from your inbox.',
                                    'success'
                                );
                                //Fire.$emit("AfterReleaseAds");
                                this.loadUsers();
                            })
                            .catch(() => {
                                swal("Failed!", "There was something wrong.", "warning");
                            });
                    }
                });
            },
            verifyAds(inbox) {
                this.form.reset();
                this.form.fill(inbox);
                $("#modalYT").modal("show");
                this.fb();
                console.log(inbox);
            },
            approveAds(ads_id) {
                //alert(ads_id);
                console.log(ads_id);
                
                swal({
                    title: "Are you sure?",
                    text: "Approve this ad?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes"
                }).then(result => {
                    // Send request to the server
                    
                    if (result.value) {
                        this.form
                            .put("api/reviewer_approve_ads")
                            .then(() => {
                                swal(
                                    'Success!',
                                    'Advertisement approved!.',
                                    'success'
                                );
                                $("#modalYT").modal("hide");
                                //Fire.$emit("AfterCreate");
                                this.loadUsers();
                            })
                            .catch(() => {
                                swal("Failed!", "There was something wrong.", "warning");
                            });
                    }
                });
                
            },
            rejectModal(ads_id) {
                this.form.reset();
                $("#modalYT").modal("hide");
                this.form.ads_id = ads_id;
                $("#modalReject").modal("show")
                
                console.log(ads_id);
            },
            rejectAds(ads_id) {
                //this.form.fill(inbox);
                console.log(ads_id);
                
                swal({
                    title: "Are you sure?",
                    text: "Reject this ad?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes"
                }).then(result => {
                    $("#modalReject").modal("hide");
                    // Send request to the server
                    if (result.value) {
                        this.form
                            .put("api/reviewer_reject_ads")
                            .then(() => {
                                
                                swal(
                                    'Success!',
                                    'Advertisement rejected.',
                                    'success'
                                );
                                //Fire.$emit("AfterCreate");
                                this.loadUsers();
                            })
                            .catch(() => {
                                swal("Failed!", "There was something wrong.", "warning");
                            });
                    }
                });
            },
            loadUsers() {
                
                if (this.$gate.isAdminOrReviewer()) {
                    this.$Progress.start();
                    axios.get("api/reviewer_inbox").then(({data}) => (this.reviewerInbox = data));
                    this.$Progress.finish();
                } else {
                    swal("Failed!", "You are not authorized to access this page.", "warning");
                    this.$router.push('/not_found');
                    //window.location.href = "https://myfad-dev.my/not_found"
                    
                }
            },
            
            createPage() {
                this.$Progress.start();
                
                this.form
                    .post("api/reviewer_inbox/new_inbox/" + this.form.user_username)
                    .then(response => {
                        if (response.data.isValid === false) {
                            console.log(response.data);
                            //this.errors = response.data.errors1;
                            swal("Failed!", response.data.errors, "warning");
                            this.$Progress.fail();
                        } else {
                            console.log(response.data);
                            Fire.$emit("AfterCreate");
                            $("#addNew").modal("hide");
                            
                            toast({
                                type: "success",
                                title: "Add admin successfully"
                            });
                            this.$Progress.finish();
                            this.refresh();
                        }
                    })
                    .catch(() => {
                        swal("Failed!", "Not a valid email", "warning");
                        this.$Progress.fail();
                    });
                /*.catch(() => {
                    swal("Failed!", "There was something wrong.", "warning");
                });*/
            }
        },
        created() {
            Fire.$on("searching", search => {
                let query = search;
                axios
                    .get("api/findPage?q=" + query)
                    .then(data => {
                        this.pages = data.data;
                    })
                    .catch(() => {
                    });
            });
            this.loadUsers();
            //    setInterval(() => this.loadUsers(), 3000);
        }
    };
</script>

<style scoped>
</style>
