<!--
  - Copyright (c) myfAd Tech Sdn. Bhd.
  - Created by @ahmadfirdaus3112@gmail.com
  -->

<template>
    <div class="container">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Verified Ads List</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item">
                                <router-link to="/home">Home</router-link>
                            </li>
                            <li class="breadcrumb-item active">Verified Ads List</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        
        <div class="row" v-if="$gate.isAdminOrReviewer()">
            <div class="col">
                <div class="card" v-if="reviewer_verifiedAds.data && reviewer_verifiedAds.data.length > 0">
                    <div class="card-header">
                        <h3 class="card-title">Verified Ads</h3>
                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input @keyup="searchit" class="form-control float-right" name="search"
                                       placeholder="Search"
                                       type="search" v-model="search">
                                
                                <div class="input-group-append">
                                    <button @click="searchit" class="btn btn-primary" type="submit"><i
                                        class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <th>No.</th>
                                <th>Ads Title</th>
                                <th>Submit Date</th>
                                <th>Type</th>
                                <th>Verified Date</th>
                                <th>Ads Status</th>
                            
                            </tr>
                            
                            <tr :key="index" v-for="(ads_list, index) in reviewer_verifiedAds.data">
                                
                                <td>{{(reviewer_verifiedAds.current_page-1) * reviewer_verifiedAds.per_page + index + 1
                                    }}
                                </td>
                                <td><a :href="ads_list.ads_url" target="_blank"><i
                                    class="fab fa-facebook-f"></i> {{ads_list.ads_title}} <i
                                    class="fas fa-external-link-alt"></i></a></td>
                                <td>{{ads_list.ads_created_date | moment("DD-MM-YYYY")}}</td>
                                <td>{{ads_list.ads_type}}</td>
                                <td>{{ads_list.ads_verified_date | moment("DD-MM-YYYY")}}</td>
                                <td>{{ads_list.adstatus_name}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <pagination :data="reviewer_verifiedAds" :limit="3" :show-disabled="true"
                                    @pagination-change-page="getResults"
                                    class="float-right"></pagination>
                    </div>
                </div>
                <!-- /.card -->
            </div>
        
        
        </div>
    
    
    </div>
</template>


<script>
    import _ from "lodash";
    
    export default {
        
        data() {
            return {
                errors1: "",
                search: "",
                editmode: true,
                reviewer_verifiedAds: {},
                form: new Form({
                    user_id: "",
                    user_username: "",
                    
                })
            };
        },
        methods: {
            refresh: _.debounce(function () {
                this.$router.go(this.$router.currentRoute);
            }, 700),
            beforeOpen(event) {
                console.log(event.params.page);
            },
            searchit: _.debounce(function () {
                // Do Stuff Here
                this.$Progress.start();
                Fire.$emit("searching", this.search);
                this.$Progress.finish();
            }, 1000),
            
            getResults(page = 1) {
                this.$Progress.start();
                axios.get("api/merchant_page?page=" + page).then(response => {
                    this.pages = response.data;
                    this.$Progress.finish();
                });
            },
            
            editModal(page) {
                this.editmode = true;
                this.form.reset();
                $("#addNew").modal("show");
                this.form.fill(page);
            },
            newModal() {
                this.editmode = false;
                this.form.reset();
                $("#addNew").modal("show");
            },
            deletePage(user_id) {
                swal({
                    title: "Are you sure?",
                    text: "You won't be able to revert this!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes, delete it!"
                }).then(result => {
                    // Send request to the server
                    if (result.value) {
                        this.form
                            .delete("api/reviewer_ads/delete_inbox/" + user_id)
                            .then(response => {
                                if (response.data.isValid === false) {
                                    console.log(response.data);
                                    swal("Failed!", response.data.errors, "warning");
                                } else {
                                    console.log(response.data);
                                    toast({
                                        type: "success",
                                        title: "Admin Deleted!"
                                    });
                                    Fire.$emit("AfterCreate");
                                    this.$Progress.finish();
                                    this.refresh();
                                    
                                }
                            })
                            /*.then(() => {
                                swal("Deleted!", "Your admin has been deleted.", "success");
                                Fire.$emit("AfterCreate");
                            })*/
                            .catch(() => {
                                swal("Failed!", "There was something wrong.", "warning");
                            });
                    }
                });
            },
            
            loadVerifiedAds() {
                if (this.$gate.isAdminOrReviewer()) {
                    this.$Progress.start();
                    axios.get("api/reviewer_verified_ads").then(({data}) => (this.reviewer_verifiedAds = data));
                    this.$Progress.finish();
                } else {
                    swal("Failed!", "You are not authorized to access this page.", "warning");
                }
            },
            
            createPage() {
                this.$Progress.start();
                
                this.form
                    .post("api/reviewer_ads/new_inbox/" + this.form.user_username)
                    .then(response => {
                        if (response.data.isValid === false) {
                            console.log(response.data);
                            //this.errors = response.data.errors1;
                            swal("Failed!", response.data.errors, "warning");
                            this.$Progress.fail();
                        } else {
                            console.log(response.data);
                            Fire.$emit("AfterCreate");
                            $("#addNew").modal("hide");
                            
                            toast({
                                type: "success",
                                title: "Add admin successfully"
                            });
                            this.$Progress.finish();
                            this.refresh();
                        }
                    })
                    .catch(() => {
                        swal("Failed!", "Not a valid email", "warning");
                        this.$Progress.fail();
                    });
                /*.catch(() => {
                    swal("Failed!", "There was something wrong.", "warning");
                });*/
            }
        },
        created() {
            Fire.$on("searching", search => {
                let query = search;
                axios
                    .get("api/findPage?q=" + query)
                    .then(data => {
                        this.pages = data.data;
                    })
                    .catch(() => {
                    });
            });
            
            this.loadVerifiedAds();
            /*Fire.$on("AfterCreate", () => {
                this.loadVerifiedAds();
            });*/
            //    setInterval(() => this.loadUsers(), 3000);
        }
    };
</script>

<style scoped>
</style>
