/*!
 * Copyright (c) myfAd Tech Sdn. Bhd.
 * Created by @ahmadfirdaus3112@gmail.com
 */
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
//@import url('https://unpkg.com/ionicons@4.5.5/dist/css/ionicons.min.css');
// Variables
@import 'variables';

$fa-font-path: "../webfonts";
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/dist/css/adminlte.css';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap-vue/dist/bootstrap-vue.css';

.navbar-laravel {
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.router-link-exact-active {
	background-color: #3f51b5;
	color: #fff !important;
}

.fb-plugin {
	position: relative;
	padding-bottom: 400%; // (450 ÷ 500 = 0.9 = 90%)
	height: 700;
	overflow: scroll;
}

.fb-plugin iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*.modal-lg {
    max-width: 60% !important;
}*/
.modal-open {
	//position: fixed;
	//overflow: scroll;
	width: 100%;
	padding-right: 0 !important;
}

/*.fixed-top,
.fixed-bottom {
    padding-right: 17px !important;
}*/

/*body {
    padding-top: 57px;
}*/

a {
	color: #999;
}

.current {
	color: blue;
}

a.first::after {
	content: '...';
}

a.last::before {
	content: '...';
}

.checkboxlistformat {
	margin-right: 10px;
}

input[aria-invalid="true"] {
	border-color: red;
}

input[aria-invalid="false"] {
	border-color: limegreen;
}

/*.table td {
    text-align: center;
    horizontal-align: center;
}

.table th {
    text-align: center;
    horizontal-align: center;
}*/
