<!--
  - Copyright (c) myfAd Tech Sdn. Bhd.
  - Created by @ahmadfirdaus3112@gmail.com
  -->

<template>
    <div class="container">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Cashout</h1>
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item">
                                <router-link to="/home">Home</router-link>
                            </li>
                            <li class="breadcrumb-item active">Cashout</li>
                        </ol>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <div class="row justify-content-center">
            <div class="col">
                <div class="card card-default card-outline">
                    <div class="card-body">
                        <h5 class="card-title">Subscriber Cashout</h5>
                        <b-container fluid>
                            <form
                                @reset="onReset"
                                @submit.prevent="validateBeforeSubmit()"
                                class="needs-validation"
                                novalidate
                                v-if="show"
                            >
                                <div class="form-group">
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label" for="validationCustom01">
                                            Bank
                                            Name
                                        </label>
                                        <div class="col-sm-10">
                                            <select
                                                class="form-control"
                                                id="validationCustom01"
                                                required
                                                name="bank"
                                                v-model="form.sbr_bank"
                                                v-validate="'required'"
                                            >
                                                <option value>Select Bank</option>
                                                <option
                                                    :key="key"
                                                    :value="key"
                                                    v-for="(value, key) in cashout_details.bank_list"
                                                >{{value}}
                                                </option>
                                            </select>
    
                                            <div class="invalid-feedback">{{ errors.first("bank") }}</div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label" for="validationCustom02">
                                            State
                                            Name
                                        </label>
                                        <div class="col-sm-10">
                                            <select
                                                class="form-control"
                                                id="validationCustom02"
                                                name="state"
                                                required
                                                v-model="form.sbr_state"
                                                v-on:change="onChange"
                                                v-validate="'required'"
                                            >
                                                <option value>Select State</option>
                                                <option
                                                    v-bind:value="key"
                                                    v-for="(value, key) in cashout_details.state_list"
                                                >{{value}}
                                                </option>
                                            </select>
                                            <div class="invalid-feedback">{{ errors.first("state") }}</div>
                                        </div>
                                    </div>
                                    <div class="form-group row" v-if="form.sbr_state">
                                        <label class="col-sm-2 col-form-label" for="validationCustom03">
                                            City
                                            Name
                                        </label>
                                        <div class="col-sm-10">
                                            <select
                                                class="form-control"
                                                id="validationCustom03"
                                                name="city"
                                                required
                                                v-model="form.sbr_city"
                                                v-validate="'required'"
                                            >
                                                <option value>Select City</option>
                                                <option
                                                    :key="key"
                                                    v-bind:value="key"
                                                    v-for="(value, key) in city_list"
                                                >{{value}}
                                                </option>
                                            </select>
                                            <div class="invalid-feedback">{{ errors.first("city") }}</div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label" for="validationCustom04">
                                            Bank Account
                                            Holder Name
                                        </label>
                                        <div class="col-sm-10">
                                            <input
                                                class="form-control"
                                                id="validationCustom04"
                                                name="name"
                                                placeholder="Bank Account Holder Name"
                                                required
                                                type="text"
                                                v-model="form.sbr_bank_accholder"
                                                v-validate="'required'"
                                                value
                                            >
                                            <div class="invalid-feedback">{{ errors.first("name") }}</div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label" for="validationCustom05">
                                            Bank Account IC
                                            No.
                                        </label>
                                        <div class="col-sm-10">
                                            <input
                                                class="form-control"
                                                data-vv-as="IC"
                                                id="validationCustom05"
                                                name="sbr_bank_ic"
                                                placeholder="Bank Account IC No."
                                                required
                                                type="number"
                                                v-model="form.sbr_bank_ic"
                                                v-validate="'required|numeric|length:12'"
                                            >
                                            <div class="invalid-feedback">{{ errors.first("sbr_bank_ic") }}</div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label" for="validationCustom06">
                                            Bank Account
                                            Number
                                        </label>
                                        <div class="col-sm-10">
                                            <input
                                                class="form-control"
                                                id="validationCustom06"
                                                placeholder="Bank Account Number"
                                                required
                                                name="sbr_bank_no"
                                                type="number"
                                                v-model="form.sbr_bank_no"
                                                v-validate="'required|numeric'"
                                                value
                                            >
                                            <div class="invalid-feedback">{{ errors.first("sbr_bank_no") }}</div>
                                           <!-- <div class="valid-feedback">Looks good!</div>-->
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label" for="validationCustom07">Postcode</label>
                                        <div class="col-sm-10">
                                            <input
                                                class="form-control"
                                                data-vv-as="postcode"
                                                id="validationCustom07"
                                                name="postcode"
                                                placeholder="Postcode"
                                                required
                                                type="number"
                                                v-model="form.sbr_postcode"
                                                v-validate="'required|digits:5'"
                                                value
                                            >
                                            <div class="invalid-feedback">{{ errors.first("postcode") }}</div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label" for="validationCustom08">Earning</label>
                                    <div class="input-group mb-3 col-sm-10">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="validationCustom08">RM</span>
                                        </div>
                                        <input
                                            aria-describedby="basic-addon1"
                                            aria-label="Username"
                                            class="form-control"
                                            disabled
                                            placeholder="Earning"
                                            required
                                            type="number"
                                            v-model="form.sbr_earning"
                                        >
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label" for="validationCustom09">
                                        Amount to Cash
                                        Out
                                    </label>
                                    <div class="input-group mb-3 col-sm-10">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="validationCustom09">RM</span>
                                        </div>
                                        <input
                                            aria-describedby="basic-addon1"
                                            aria-label="Username"
                                            class="form-control"
                                            name="cashout_amount"
                                            placeholder="Amount"
                                            required
                                            type="number"
                                            v-model="form.sbr_cashout_amount"
                                            v-validate="'required|numeric|min_value:10'"
                                        >
                                        <div class="invalid-feedback">Minimum cashout amount is RM10</div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label" for="validationCustom10">Balance</label>
                                    <div class="input-group mb-3 col-sm-10">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="validationCustom10">RM</span>
                                        </div>
                                        <input
                                            :value="balance"
                                            aria-describedby="basic-addon1"
                                            aria-label="Username"
                                            class="form-control"
                                            disabled
                                            placeholder="Balance"
                                            required
                                            type="number"
                                        >
                                    </div>
                                </div>
                                
                                <button class="btn btn-primary" type="submit">Submit</button>
                                <button class="btn btn-danger" type="reset">Reset</button>
                            </form>
                        </b-container>
                    </div>
                </div>
                
                <div class="card" v-if="cashout_history.data && cashout_history.data.length > 0">
                    <div class="card-header">
                        <h3 class="card-title">Cashout History</h3>
                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input @keyup="searchit" class="form-control float-right" name="search"
                                       placeholder="Search"
                                       type="search" v-model="search">
                                
                                <div class="input-group-append">
                                    <button @click="searchit" class="btn btn-primary" type="submit"><i
                                        class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <th>No.</th>
                                <th>Transaction Date</th>
                                <th>Amount</th>
                                <th>Bank Swift Code</th>
                                <th>Bank Account Number</th>
                                <th>Notes</th>
                                <th>Status</th>
                            </tr>
                            
                            <tr :key="index" v-for="(page, index) in cashout_history.data">
                                
                                <td>{{(cashout_history.current_page-1) * cashout_history.per_page + index + 1 }}</td>
                                <td>{{page.co_date_created | moment("DD-MM-YYYY")}}</td>
                                <td>RM{{page.co_amount}}</td>
                                <td>{{page.co_swiftcode}}</td>
                                <td>{{page.co_bank_acc}}</td>
                                <td>{{page.co_notes}}</td>
                                <td>{{page.cos_name}}</td>
                                <!--<td>
                                    <a @click="editModal(page)" href="#">
                                        <i class="fa fa-edit blue"></i>
                                    </a>
                                    |
                                    <a @click="deletePage(page.mp_id)" href="#">
                                        <i class="fa fa-trash red"></i>
                                    </a>
                                
                                </td>-->
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <pagination :data="cashout_history" :limit="3" :show-disabled="true"
                                    @pagination-change-page="getResults"
                                    class="float-right"></pagination>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main content -->
        <!-- /.card-body -->
        <!-- /.card-body -->
    </div>
</template>

<script>
    export default {
        data() {
            return {
                search: "",
                curr_page: "",
                cashout_details: {},
                cashout_history: {},
                city_list: "",
                city_list2: "",
                form: new Form({
                    sbr_bank: "",
                    sbr_state: "",
                    sbr_city: "",
                    sbr_bank_accholder: "",
                    sbr_bank_ic: "",
                    sbr_bank_no: "",
                    sbr_postcode: "",
                    sbr_earning: "",
                    sbr_cashout_amount: "",
                    sbr_balance: 0
                }),
                show: true
            };
        },
        methods: {
            validateBeforeSubmit() {
                this.$validator.validateAll().then(result => {
                    if (result) {
                        // eslint-disable-next-line
                        //alert('Form Submitted!');
                        //this.updateInfo();
                        this.test();
                        console.log(result);
                        return;
                    }
                    console.log(result);
                    swal("Failed!", "Please complete the form before submit!", "warning");
                });
            },
            updateInfo() {
                this.$Progress.start();
                
                this.form
                    .post("api/subscriber/post_cashout")
                    .then(() => {
                        swal("Success!", "Cashout request submitted.", "success");
                        Fire.$emit('AfterCreate');
                        this.$Progress.finish();
                    })
                    .catch(() => {
                        this.$Progress.fail();
                    });
            },
            
            checkForm(evt) {
                evt.preventDefault();
                evt.target.classList.add("was-validated");
            },
            onReset(evt) {
                evt.preventDefault();
                /* Reset our form values */
                //this.form.reset();
                this.form.fill(this.cashout_details);
                /* Trick to reset/clear native browser form validation state */
                this.show = false;
                this.$nextTick(() => {
                    this.show = true;
                });
            },
            getResults(page = 1) {
                this.$Progress.start();
                axios
                    .get("api/subscriber/cashout_history?page=" + page)
                    .then(response => {
                        this.cashout_history = response.data;
                        this.$Progress.finish();
                    });
            },
            searchit: _.debounce(function () {
                // Do Stuff Here
                this.$Progress.start();
                Fire.$emit("searching", this.search);
                this.$Progress.finish();
            }, 1000),
            
            refresh: _.debounce(function () {
                this.$router.go(this.$router.currentRoute);
            }, 100),
            onChange() {
                axios
                    .get("api/subscriber/get_city/" + this.form.sbr_state)
                    .then(response => (this.city_list = response.data))
                    .catch(error => console.log(error.response.data));
            },
            cashouthistory() {
                axios
                    .get("api/subscriber/cashout_history")
                    .then(response => (this.cashout_history = response.data))
                    .catch(error => console.log(error.response.data));
            },
            cashoutdetails() {
                axios
                    .get("api/subscriber/cashout_details")
                    .then(
                        response => (
                            (this.cashout_details = response.data,
                                this.city_list = this.cashout_details.city_list),
                                this.form.fill(this.cashout_details)))
                    .catch(error => console.log(error.response.data));
            },
            
        },
        created() {
            this.cashoutdetails();
            this.cashouthistory();
            
            Fire.$on("AfterCreate", () => {
                this.cashoutdetails();
                this.cashouthistory();
            });
        },
        computed: {
            balance: function () {
                let calculatedTotal = this.form.sbr_earning - this.form.sbr_cashout_amount;
                let test = Math.max(0.00, calculatedTotal);
                this.sbr_balance = test;
                
                return test;
            }
        },
        mounted: function () {
            this.$nextTick(function () {
                // Code that will run only after the
                // entire view has been rendered
            });
        }
    };
</script>

<style scoped>
</style>
