<!--
  - Copyright (c) myfAd Tech Sdn. Bhd.
  - Created by @ahmadfirdaus3112@gmail.com
  -->

<template>
    <div aria-hidden="true" aria-labelledby="addNewLabel" class="modal fade" data-backdrop="static"
         data-keyboard="false" id="addNew" role="dialog"
         tabindex="-1">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addNewLabel" v-show="!editmode">Add New</h5>
                    <h5 class="modal-title" id="addNewLabel" v-show="editmode">Boost Contest Ads</h5>
                    <button @click="hideModal" aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form @submit.prevent="validateBeforeSubmit()">
                    <div class="modal-body">
                        
                        <b-container fluid>
                            <b-row class="my-1">
                                <b-col sm="2"><label>Fb Post Url:</label></b-col>
                                <b-col sm="10">
                                    <b-input-group>
                                        <b-form-input name="ads_url" v-validate="'required'" :class="{ 'is-invalid': form.errors.has('ads_url'), 'is-invalid': errors.first('ads_url')  }" disabled
                                                      v-model="form.ads_url"/>
                                        <b-input-group-append>
                                            <b-btn @click="newModal1" size="sm" text="Button" v-show="!editmode"
                                                   variant="outline-primary">
                                                Select
                                                Facebook Post
                                            </b-btn>
                                        </b-input-group-append>
                                        <div class="invalid-feedback">{{ errors.first("ads_url") }}</div>
                                        <has-error :form="form" field="ads_url"></has-error>
                                    </b-input-group>
                                </b-col>
                            </b-row>
                            <!--Input Row-->
                            <b-row class="my-1">
                                <b-col sm="2"><label>Ads Title:</label></b-col>
                                <b-col sm="10">
                                    <b-form-input
                                        :class="{ 'is-invalid': form.errors.has('ads_title'), 'is-invalid': errors.first('ads_title') }"
                                        class="form-control"
                                        name="ads_title"
                                        v-validate="'required'"
                                        type="text"
                                        v-model="form.ads_title"/>
                                    <div class="invalid-feedback">{{ errors.first("ads_title") }}</div>
                                    <has-error :form="form" field="ads_title"></has-error>
                                </b-col>
                            </b-row>
                            <!--end input row-->
                            <!--Input Row-->
                            <b-row class="my-1">
                                <b-col sm="2"><label>Keyword:</label></b-col>
                                <b-col sm="10">
                                    <b-form-input :class="{ 'is-invalid': form.errors.has('ads_keyword'), 'is-invalid': errors.first('ads_keyword') }"
                                                  class="form-control"
                                                  v-validate="'required'"
                                                  name="ads_keyword"
                                                  type="text"
                                                  v-model="form.ads_keyword"/>
                                    <div class="invalid-feedback">{{ errors.first("ads_keyword") }}</div>
                                    <has-error :form="form" field="ads_keyword"></has-error>
                                </b-col>
                            </b-row>
                            <!--end input row-->
                            <div v-if="form.ads_url">
                                <b-card class="text-center" no-body>
                                    <div
                                        :data-href="form.ads_url"
                                        class="fb-post"
                                        data-adapt-container-width="true"
                                        data-show-text="true"
                                    ></div>
                                </b-card>
                            </div>
                            <b-row class="my-1" v-if="form.ads_url">
                                <b-col sm="2"><label>Current Token (Share) Balance:
                                </label></b-col>
                                <b-col sm="10">
                                    <b-form-input :class="{ 'is-invalid': form.errors.has('credits_count') }"
                                                  class="form-control"
                                                  name="credits_count"
                                                  disabled
                                                  type="text"
                                                  v-model="form.credits_count"/>
                                    <has-error :form="form" field="credits_count"></has-error>
                                </b-col>
                            </b-row>
                            <b-row class="my-1" v-if="form.ads_url">
                                <b-col sm="2"><label>New Token (Share) Balance:
                                </label></b-col>
                                <b-col sm="10">
                                    <b-form-input :class="{ 'is-invalid': form.errors.has('new_token') }"
                                                  class="form-control"
                                                  name="new_token"
                                                  disabled
                                                  type="text"
                                                  v-model="form.new_token"/>
                                    <has-error :form="form" field="new_token"></has-error>
                                </b-col>
                            </b-row>
                        </b-container>
                    </div>
                    <div class="modal-footer">
                        <button @click="hideModal" class="btn btn-danger" data-dismiss="modal" type="button">Close
                        </button>
                        <button class="btn btn-success" type="submit" v-show="editmode">Boost</button>
                        <button class="btn btn-primary" type="submit" v-show="!editmode">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                token_count: "",
                ads: {},
                ads_url: "",
                editmode: false,
                form: new Form({
                    ads_id: "",
                    ads_title: "",
                    ads_url: "",
                    ads_keyword: "",
                    credits_count:"",
                    new_token:""
                    
                }),
                
                
            };
        },
        computed: {},
        methods: {
            validateBeforeSubmit() {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        // eslint-disable-next-line
                        //alert('Form Submitted!');
                        this.createAds();
                        console.log(result);
                        return;
                    }
                    console.log(result);
                    swal("Failed!", "Please complete the form before submit!", "warning");
                });
            },
            hideModal() {
                this.$root.$emit("fb_post", "");
                this.form.reset();
                this.editmode = false;
                $("#addNew").modal("hide");
            },
            fb: _.debounce(function () {
                // Do Stuff Here
                this.$Progress.start();
                window.FB.XFBML.parse();
                this.$Progress.finish();
            }, 500),
            newModal1() {
                //this.messages = "";
                $("#exampleModal").modal("show");
                this.getTokenCount();
                
            },
            createAds() {
                this.$Progress.start();
                
                this.form
                    .post("api/merchant_contest/" + this.$route.query.mct_id)
                    .then(() => {
                        Fire.$emit("AfterCreate");
                        $("#addNew").modal("hide");
                        
                        toast({
                            type: "success",
                            title: "Ads Created successfully"
                        });
                        
                        this.$Progress.finish();
                        this.form.reset();
                        
                    })
                    .catch(() => {
                    });
                
            },
            deleteAds(ads_id) {
                swal({
                    title: "Are you sure?",
                    text: "You won't be able to revert this!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes, delete it!"
                }).then(result => {
                    // Send request to the server
                    if (result.value) {
                        this.form
                            .delete("api/merchant_contest/" + ads_id)
                            .then(() => {
                                swal("Deleted!", "Your file has been deleted.", "success");
                                Fire.$emit("AfterCreate");
                            })
                            .catch(() => {
                                swal("Failed!", "There was something wrong.", "warning");
                            });
                    }
                });
            },
            loadAds() {
                
                this.$Progress.start();
                axios.get("api/merchant_contest").then(({data}) => (this.ads = data));
                this.$Progress.finish();
                
            },
            getTokenCount() {
        
                /*axios.get("api/merchant_ads").then(({data}) => (this.ads = data));*/
                axios.get("api/credits/" + this.$route.query.mct_id)
                    .then(response => (
                        this.form.credits_count = response.data,
                            this.form.new_token = response.data-140,
                            this.token_count = response.data
                    ))
                    .catch(error => console.log(error.response.data));
        
            },
            
        },
        
        created() {
            //this.getTokenCount();
            Fire.$on("AfterCreate", () => {
                //this.loadAds();
            });
            
        },
        mounted: function () {
            this.$nextTick(function () {
                //this.form.curr_token = token_count;
                // Code that will run only after the
                // entire view has been rendered
                //this.form.curr_token = ad.credits_count;
                //this.form.new_token = this.form.curr_token - 140;
                this.$root.$on("ad", ad => {
                    //this.getTokenCount();
                    this.editmode = true;
                    this.form.reset();
                    this.form.fill(ad);
                    this.form.new_token =ad.credits_count - 140;
                    //this.form.curr_token = ad.credits_count;
                    /*this.form.ads_url = ad.ads_url;
                    this.form.ads_title = ad.ads_title;
                    this.form.ads_keyword = ad.ads_keyword;
                    this.form.fb_url = ad.ads_url;*/
                    this.fb();
                    console.log(ad);
                });
                this.$root.$on("fb_post", item => {
                    //...
                    //this.getTokenCount();
                    this.form.ads_url = item;
                    this.form.fb_url = item;
                    this.fb();
                    //console.log(item);
                });
            });
        }
        
    };
</script>

<style scoped>

</style>
