<!--
  - Copyright (c) myfAd Tech Sdn. Bhd.
  - Created by @ahmadfirdaus3112@gmail.com
  -->

<template>
    <div class="container">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Admins List</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item">
                                <router-link to="/home">Home</router-link>
                            </li>
                            <li class="breadcrumb-item active">Admins List</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <div class="row">
            <div class="col">
                <not-found v-if="admins.data && admins.data.length < 1"></not-found>
                <div class="card" v-if="admins.data && admins.data.length > 0">
                    <div class="card-header">
                        <h3 class="card-title">Admins List</h3>
                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input @keyup="searchit" class="form-control float-right" name="search"
                                       placeholder="Search"
                                       type="search" v-model="search">
                                
                                <div class="input-group-append">
                                    <button @click="searchit" class="btn btn-primary" type="submit"><i
                                        class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
						<b-table stacked="md" :items="admins.data" :fields="fields">
							<template slot="actions" slot-scope="row">
								<a href="#" v-if="row.item.merchant_admin !== null" size="sm" @click="deletePage(row.item.mct_id)" class="mr-1">
									<i class="fa fa-trash red"></i>
								</a>
							</template>
						</b-table>
                        <!--<table class="table table-hover">
                            <tbody>
                            <tr>
                                <th>No.</th>
                                <th>Email</th>
                                <th>Merchant ID</th>
                                <th>Modify</th>
                            </tr>
                            
                            <tr :key="index" v-for="(admin, index) in admins.data">
                                
                                <td>{{(admins.current_page-1) * admins.per_page + index + 1 }}</td>
                                <td>{{admin.mct_email}}</td>
                                <td>{{admin.mct_id}}</td>
                                
                                
                                <td>
                                    <a @click="deletePage(admin.mct_id)" href="#"
                                       v-if="admin.merchant_admin !== null">
                                        <i class="fa fa-trash red"></i>
                                    </a>
                                
                                </td>
                            </tr>
                            </tbody>
                        </table>-->
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <pagination :data="admins" :limit="3" :show-disabled="true" @pagination-change-page="getResults"
                                    class="float-right"></pagination>
                        <button @click="newModal" class="btn btn-success float-left">Add New <i
                            class="fas fa-user-plus fa-fw"></i></button>
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
        
        <!-- Modal -->
        <div aria-hidden="true" aria-labelledby="addNewLabel" class="modal fade" id="addNew" role="dialog"
             tabindex="-1">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addNewLabel" v-show="!editmode">Add New</h5>
                        <h5 class="modal-title" id="addNewLabel" v-show="editmode">Update Merchant Page Info</h5>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="editmode ? updatePage() : createPage()">
                        <div class="modal-body">
                            <div class="form-group">
                                <input :class="{ 'is-invalid': form.errors.has('user_username') }" class="form-control"
                                       name="page_name" placeholder="Email"
                                       type="text" v-model="form.user_username">
                                <has-error :form="form" field="user_username"></has-error>
                            </div>
                        
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-danger" data-dismiss="modal" type="button">Close</button>
                            <button class="btn btn-success" type="submit" v-show="editmode">Update</button>
                            <button class="btn btn-primary" type="submit" v-show="!editmode">Create</button>
                        </div>
                    
                    </form>
                
                </div>
            </div>
        </div>
        <!--fggg-->
    </div>
</template>

<script>
    import _ from "lodash";
    
    export default {
        
        data() {
            return {
				fields: [
					{ key: 'mct_name', label: 'Merchant Name', sortable: true },
					{ key: 'mct_email', label: 'Merchant Email', sortable: true },
					{ key: 'mct_id', label: 'Merchant ID' },
					{ key: 'actions', label: 'Actions' }
				],
                errors1: "",
                search: "",
                editmode: true,
                admins: {},
                form: new Form({
                    user_id: "",
                    user_username: "",
                    
                })
            };
        },
        methods: {
            refresh: _.debounce(function () {
                this.$router.go(this.$router.currentRoute);
            }, 700),
            beforeOpen(event) {
                console.log(event.params.page);
            },
            searchit: _.debounce(function () {
                // Do Stuff Here
                this.$Progress.start();
                Fire.$emit("searching", this.search);
                this.$Progress.finish();
            }, 1000),
            
            getResults(page = 1) {
                this.$Progress.start();
                axios.get("api/merchant_admin?page=" + page).then(response => {
                    this.admins = response.data;
                    this.$Progress.finish();
                });
            },
            
            editModal(page) {
                this.editmode = true;
                this.form.reset();
                $("#addNew").modal("show");
                this.form.fill(page);
            },
            newModal() {
                this.editmode = false;
                this.form.reset();
                $("#addNew").modal("show");
            },
            deletePage(mct_id) {
                swal({
                    title: "Are you sure?",
                    text: "You won't be able to revert this!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes, delete it!"
                }).then(result => {
                    // Send request to the server
                    if (result.value) {
                        this.form
                            .delete("api/merchant_admin/delete_admin/" + mct_id)
                            .then(response => {
                                if (response.data.isValid === false) {
                                    console.log(response.data);
                                    swal("Failed!", response.data.errors, "warning");
                                } else {
                                    console.log(response.data);
                                    toast({
                                        type: "success",
                                        title: "Admin Deleted!"
                                    });
                                    Fire.$emit("AfterCreate");
                                    this.$Progress.finish();
                                    this.refresh();
                                    
                                }
                            })
                            /*.then(() => {
                                swal("Deleted!", "Your admin has been deleted.", "success");
                                Fire.$emit("AfterCreate");
                            })*/
                            .catch(() => {
                                swal("Failed!", "There was something wrong.", "warning");
                            });
                    }
                });
            },
            loadUsers() {
                
                this.$Progress.start();
                axios.get("api/merchant_admin").then(({data}) => (this.admins = data));
                this.$Progress.finish();
                
            },
            
            createPage() {
                this.$Progress.start();
                
                this.form
                    .post("api/merchant_admin/new_admin/" + this.form.user_username)
                    .then(response => {
                        if (response.data.isValid === false) {
                            console.log(response.data);
                            //this.errors = response.data.errors1;
                            swal("Failed!", response.data.errors, "warning");
                            this.$Progress.fail();
                        } else {
                            console.log(response.data);
                            Fire.$emit("AfterCreate");
                            $("#addNew").modal("hide");
                            
                            toast({
                                type: "success",
                                title: "Add admin successfully"
                            });
                            this.$Progress.finish();
                            this.refresh();
                        }
                    })
                    .catch(() => {
                        swal("Failed!", "Not a valid email", "warning");
                        this.$Progress.fail();
                    });
                /*.catch(() => {
                    swal("Failed!", "There was something wrong.", "warning");
                });*/
            }
        },
        created() {
            Fire.$on("searching", search => {
                let query = search;
                axios
                    .get("api/findPage?q=" + query)
                    .then(data => {
                        this.pages = data.data;
                    })
                    .catch(() => {
                    });
            });
            this.loadUsers();
            Fire.$on("AfterCreate", () => {
                this.loadUsers();
            });
            //    setInterval(() => this.loadUsers(), 3000);
        }
    };
</script>

<style scoped>
</style>
