<!--
  - Copyright (c) myfAd Tech Sdn. Bhd.
  - Created by @ahmadfirdaus3112@gmail.com
  -->

<template>
  <div class="container">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Earning</h1>
          </div>
          <!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">
                <router-link to="/home">Home</router-link>
              </li>
              <li class="breadcrumb-item active">Earning</li>
            </ol>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="row justify-content-center">
      <div class="col">
        <div class="card card-default card-outline">
          <div class="card-body">
            <h5 class="card-title">Subscriber Earning</h5>
            <h4>
              <span class="badge badge-primary">RM {{earning}}</span>
            </h4>
            <router-link class="card-link" to="/subscriber_cashout">
              <p>Cashout</p>
            </router-link>
          </div>
        </div>
      </div>
    </div>
    <!-- Main content -->
    <div class="row">
      <div class="col">
        <!-- <not-found v-if="earning_history.data && earning_history.data.length < 1"></not-found>-->
        <div class="card" v-if="earning_history.data && earning_history.data.length > 0">
          <div class="card-header">
            <h3 class="card-title">Subscriber Earning History</h3>
            <div class="card-tools">
              <div class="input-group input-group-sm" style="width: 150px;">
                <input
                  @keyup="searchit"
                  class="form-control float-right"
                  name="search"
                  placeholder="Search"
                  type="search"
                  v-model="search"
                >

                <div class="input-group-append">
                  <button @click="searchit" class="btn btn-primary" type="submit">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0">
            <table class="table table-hover">
              <tbody>
                <tr>
                  <th>No.</th>
                  <th>Title</th>
                  <th>URL</th>
                  <th>Posted Date</th>
                  <th>Amount (RM)</th>
                  <th>Who Shared</th>
                  <th>Subscriber Type</th>
                </tr>

                <tr :key="index" v-for="(history, index) in earning_history.data">
                  <td>{{(earning_history.current_page-1) * earning_history.per_page + index + 1 }}</td>
                  <td>{{history.ads_title}}</td>
                  <td>
                    <a :href="history.ads_url" target="_blank">{{history.ads_url}}</a>
                  </td>
                  <td>{{history.spt_postdate}}</td>
                  <td>{{history.tst_amount}}</td>
                  <td>{{history.sbr_name}}</td>
                  <td>{{history.tt_beneficial}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
          <div class="card-footer">
            <pagination
              :data="earning_history"
              :limit="3"
              :show-disabled="true"
              @pagination-change-page="getHistory"
              class="float-right"
            ></pagination>
          </div>
        </div>
        <!-- /.card -->
      </div>
    </div>
    <!-- /.card-body -->
    <!-- Main content -->
    <div class="row">
      <div class="col">
        <!-- <not-found v-if="earning_history.data && earning_history.data.length < 1"></not-found>-->
        <div class="card" v-if="earning_summary.data && earning_summary.data.length > 0">
          <div class="card-header">
            <h3 class="card-title">Subscriber Earning Summary</h3>
            <div class="card-tools">
              <div class="input-group input-group-sm" style="width: 150px;">
                <input
                  @keyup="searchit"
                  class="form-control float-right"
                  name="search"
                  placeholder="Search"
                  type="search"
                  v-model="search"
                >

                <div class="input-group-append">
                  <button @click="searchit" class="btn btn-primary" type="submit">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0">
            <table class="table table-hover">
              <tbody>
                <tr>
                  <th>No.</th>
                  <th>Title</th>
                  <th>URL</th>
                  <th>Self (RM)</th>
                  <th>Downline 1 (RM)</th>
                  <th>Downline 2 (RM)</th>
                  <th>Amount (RM)</th>
                </tr>

                <tr :key="index" v-for="(summary, index) in earning_summary.data">
                  <td>{{(earning_summary.current_page-1) * earning_summary.per_page + index + 1 }}</td>
                  <td>{{summary.ads_title}}</td>
                  <td>
                    <a :href="summary.ads_url" target="_blank">{{summary.ads_url}}</a>
                  </td>
                  <td v-if="summary.SUB">{{summary.SUB}}</td>
                  <td v-if="!summary.SUB">No</td>
                  <td v-if="summary.DOWNLINE1">{{summary.DOWNLINE1}}</td>
                  <td v-if="!summary.DOWNLINE1">No</td>
                  <td v-if="summary.DOWNLINE2">{{summary.DOWNLINE2}}</td>
                  <td v-if="!summary.DOWNLINE2">No</td>
                  <td>{{summary.tst_amount}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
          <div class="card-footer">
            <pagination
              :data="earning_summary"
              :limit="3"
              :show-disabled="true"
              @pagination-change-page="getSummary"
              class="float-right"
            ></pagination>
          </div>
        </div>
        <!-- /.card -->
      </div>
    </div>
    <!-- /.card-body -->
  </div>
</template>

<script>
export default {
  data() {
    return {
      search: "",
      curr_page: "",
      earning_history: {},
      earning_summary: {},
      earning: ""
    };
  },
  methods: {
    getHistory(page = 1) {
      this.$Progress.start();
      axios
        .get("api/subscriber/earning_history?page=" + page)
        .then(response => {
          this.earning_history = response.data;
          this.$Progress.finish();
        });
    },
    getSummary(page = 1) {
      this.$Progress.start();
      axios
        .get("api/subscriber/earning_summary?page=" + page)
        .then(response => {
          this.earning_summary = response.data;
          this.$Progress.finish();
        });
    },
    searchit: _.debounce(function() {
      // Do Stuff Here
      this.$Progress.start();
      Fire.$emit("searching", this.search);
      this.$Progress.finish();
    }, 1000),

    refresh: _.debounce(function() {
      this.$router.go(this.$router.currentRoute);
    }, 100)
  },
  created() {
    axios
      .get("api/subscriber/earning")
      .then(response => (this.earning = response.data))
      .catch(error => console.log(error.response.data));
    axios
      .get("api/subscriber/earning_history")
      .then(response => (this.earning_history = response.data))
      .catch(error => console.log(error.response.data));
    axios
      .get("api/subscriber/earning_summary")
      .then(response => (this.earning_summary = response.data))
      .catch(error => console.log(error.response.data));
  },
  computed: {},
  mounted: function() {
    this.$nextTick(function() {
      // Code that will run only after the
      // entire view has been rendered
    });
  }
};
</script>
