<!--
  - Copyright (c) myfAd Tech Sdn. Bhd.
  - Created by @ahmadfirdaus3112@gmail.com
  -->

<template>
    <div class="container">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Merchant Token</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item">
                                <router-link to="/home">Home</router-link>
                            </li>
                            <li class="breadcrumb-item active">Merchant Token</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <div class="row justify-content-center">
            <div class="col">
                <b-card bg-variant="light" text-variant="black" title="Token Management">
                    <p class="card-text">
                        Your token balance is
                        <b-badge variant="primary">{{token_count}}</b-badge>
                        .
                        Your have used 0 tokens.
                    </p>
                    <b-button :href='"https://www.myfad.my/myfad_ipay/credit_order.php?merchantId="+token_count.mct_id'
                              target="_blank"
                              text-variant="white" variant="primary">Buy Token
                    </b-button>
                </b-card>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="row">
            <div class="col">
                <!-- <not-found v-if="token.data && token.data.length < 1"></not-found>-->
                <div class="card" v-if="token.data && token.data.length > 0">
                    <div class="card-header">
                        <h3 class="card-title">Token Purchase History</h3>
                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input @keyup="searchit" class="form-control float-right" name="search"
                                       placeholder="Search"
                                       type="search" v-model="search">
                                
                                <div class="input-group-append">
                                    <button @click="searchit" class="btn btn-primary" type="submit"><i
                                        class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <th>No.</th>
                                <th>Transaction ID</th>
                                <th>Transaction Date</th>
                                <th>Token Count</th>
                                <th>Price per Token</th>
                                <th>Amount</th>
                            </tr>
                            
                            <tr :key="index" v-for="(tkn, index) in token.data">
                                
                                <td>{{(token.current_page-1) * token.per_page + index + 1 }}</td>
                                <td>{{tkn.mp_transaction_id}}</td>
                                <td>{{tkn.mp_created_date}}</td>
                                <td>{{tkn.mp_credit}}</td>
                                <td>{{tkn.mp_credit_price}}</td>
                                <td>RM {{tkn.mp_amount}}</td>
                            
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <pagination :data="token" :limit="3" :show-disabled="true"
                                    @pagination-change-page="getResults" class="float-right"></pagination>
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.card-body -->
    </div>
</template>

<script>
    export default {
        data() {
            return {
                search: "",
                editmode: false,
                token: {},
                token_count: {}
            };
        },
        methods: {
            searchit: _.debounce(function () {
                // Do Stuff Here
                this.$Progress.start();
                //Fire.$emit("searching", this.search);
                this.$Progress.finish();
            }, 1000),
            
            getResults(page = 1) {
                this.$Progress.start();
                axios.get("api/token_purchase/" + this.$route.query.mct_id + "?page=" + page).then(response => {
                    this.token = response.data;
                    this.$Progress.finish();
                });
            },
            loadPurchaseHistory() {
                /*axios.get("api/merchant_ads").then(({data}) => (this.ads = data));*/
                axios.get("api/token_purchase/" + this.$route.query.mct_id)
                    .then(response => {
                        if (response.data.isValid === false) {
                            //console.log(response.data);
                            //this.errors = response.data.errors1;
                            swal("Failed!", "You are not authorized to access this page.", "warning");
                            this.$router.push('/not_found');
                        } else {
                            //console.log(response.data);
                            this.token = response.data
                            
                        }
                    })
                    .catch(error => console.log(error.response.data));
                
            },
            getTokenCount() {
                
                /*axios.get("api/merchant_ads").then(({data}) => (this.ads = data));*/
                axios.get("api/credits/" + this.$route.query.mct_id)
                    .then(response => (this.token_count = response.data))
                    .catch(error => console.log(error.response.data));
                
            },
        },
        created() {
            this.$Progress.start();
            this.loadPurchaseHistory();
            this.getTokenCount();
            this.$Progress.finish();
        },
        mounted() {
            console.log('Component mounted.')
            
        }
    }
</script>
