<!--
  - Copyright (c) myfAd Tech Sdn. Bhd.
  - Created by @ahmadfirdaus3112@gmail.com
  -->

<template>
    <div class="container">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Advertisement</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item">
                                <router-link to="/home">Home</router-link>
                            </li>
                            <li class="breadcrumb-item active">Advertisement</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <div>
            <p>
                <toolbar :current-comp="currentComp"></toolbar>
            </p>
        </div>
        <br>
        <!-- Main content -->
        <component :is="currentComp"></component>
    </div>
</template>

<script>
    import Toolbar from './Toolbar.vue';
    
    import SelectedAds from './SelectedAds.vue';
    import CharityAds from './CharityAds.vue';
    import OpenAds from './OpenAds.vue';
    import ContestAds from './ContestAds.vue';
    
    export default {
        
        data() {
            let query = this.$route.query.ads;
            let currComp;
            if (!query) {
                currComp = 'selected-ads';
            } else {
                currComp = query;
            }
            
            return {
                
                selected_ads: {},
                charity_ads: {},
                currentComp: currComp
                
            }
        },
        methods: {
            fb: _.debounce(function () {
                // Do Stuff Here
                this.$Progress.start();
                window.FB.XFBML.parse();
                this.$Progress.finish();
            }, 500),
            
        },
        created() {
            this.$root.$on('switchComp', comp => {
                this.currentComp = comp;
            });
            this.fb();
        },
        components: {
            'toolbar': Toolbar,
            'selected-ads': SelectedAds,
            'charity-ads': CharityAds,
            'open-ads': OpenAds,
            'contest-ads': ContestAds
        },
    }
</script>

