<!--
  - Copyright (c) myfAd Tech Sdn. Bhd.
  - Created by @ahmadfirdaus3112@gmail.com
  -->

<template>
    <div class="row justify-content-center">
        <div class="col">
            <div class="card card-default card-outline" v-if="selected_ads.length>0">
                <div class="card-body" v-for="item in selected_ads">
                    <h5 class="card-title">{{item.ads_title}}</h5>
                    <div>
                        <b-card border-variant="primary" class="text-center" no-body>
                            <div :data-href="item.fbPostURL" class="fb-post"
                                 data-adapt-container-width="true" data-show-text="true">
                            </div>
                            <br>
                            <div>
                                <button @click="onClickPost(item)"
                                        class="btn btn-primary form-control"
                                        type="button">
                                    Share
                                    this post
                                </button>
                            </div>
                        </b-card>
                        <br>
                    </div>
                </div>
            </div>
            <!---->
            <div class="card card-default card-outline" v-if="selected_ads.length==0">
                <div class="card-body">
                    <h5 class="card-title">Sorry</h5>
                    
                    <p class="card-text">
                        Nothing here at the moment.
                    </p>
                
                
                </div>
            </div>
        </div>
    </div>
    <!--<div>
        <span class="label">notes list</span>
        
        <div class="container">
            <div
                :key="note.id"
                v-for="note in notes"
            >- {{ note.text }}
            </div>
        </div>
    </div>-->
</template>

<script>
    export default {
        
        data() {
            return {
                selected_ads: {},
            }
        },
        methods: {
            fb: _.debounce(function () {
                // Do Stuff Here
                this.$Progress.start();
                window.FB.XFBML.parse();
                this.$Progress.finish();
            }, 500),
            load_selected() {
                
                this.$Progress.start();
                /*axios.get("api/merchant_ads").then(({data}) => (this.ads = data));*/
                axios.get("api/subscriber/selected_ads")
                    .then(response => (this.selected_ads = response.data))
                    .catch(error => console.log(error.response.data));
                this.$Progress.finish();
            },
            onClickPost(item) {
                
                const res = encodeURI(item.fbPostURL);
                //const res = "https%3A%2F%2Fwww.myfad.my%2Fmyfad%2Freferral.php%3Fhash&redirect_uri=https%3A%2F%2Fmobile.myfad.my%2Fhome";
                
                let r = "https://mobile.myfad.my/home";
                let redirect = encodeURI(r);
                
                let url2 = 'https://www.facebook.com/dialog/share?'
                    + 'app_id=1700950133453002'
                    + '&display=popup'
                    + '&href=' + res
                    + '&redirect_uri=' + redirect;
                
                location.href = url2;
                
            }
        },
        created() {
            
            this.load_selected();
        },
        mounted() {
            console.log('selected mounted.')
        },
        
    }
</script>

<style scoped>

</style>
