<!--
  - Copyright (c) myfAd Tech Sdn. Bhd.
  - Created by @ahmadfirdaus3112@gmail.com
  -->

<template>
    <div class="btn-group d-flex">
        <button
            :disabled="currentComp === 'selected-ads'"
            @click="switchComponent('selected-ads')"
            class="switch selected btn-lg w-100"
        >Selected Share <span class="badge badge-danger" v-if="SelectedShareCount==0">{{SelectedShareCount}}</span><span
            class="badge badge-success" v-else>{{SelectedShareCount}}</span>
        </button>
        <button
            :disabled="currentComp === 'charity-ads'"
            @click="switchComponent('charity-ads')"
            class="switch charity btn-lg w-100"
        >Charity Share <span class="badge badge-danger" v-if="CharityShareCount==0">{{CharityShareCount}}</span><span
            class="badge badge-success" v-else>{{CharityShareCount}}</span>
        </button>
        <button
            :disabled="currentComp === 'open-ads'"
            @click="switchComponent('open-ads')"
            class="switch open btn-lg w-100"
        >Open Share <span class="badge badge-danger" v-if="OpenShareCount==0">{{OpenShareCount}}</span><span
            class="badge badge-success" v-else>{{OpenShareCount}}</span>
        </button>
        <button
            :disabled="currentComp === 'contest-ads'"
            @click="switchComponent('contest-ads')"
            class="switch contest btn-lg w-100"
        >Open Contest <span class="badge badge-danger" v-if="ContestShareCount==0">{{ContestShareCount}}</span><span
            class="badge badge-success" v-else>{{ContestShareCount}}</span>
        </button>
    </div>

</template>

<script>
    export default {
        data() {
            return {
                SelectedShareCount: '',
                CharityShareCount: '',
                OpenShareCount: '',
                ContestShareCount: '',
            }
        },
        props: {
            currentComp: {
                type: String,
                required: true,
            }
        },
        methods: {
            fb: _.debounce(function () {
                // Do Stuff Here
                window.FB.XFBML.parse();
            }, 500),
            switchComponent(comp) {
                this.$root.$emit('switchComp', comp);
                this.fb();
            }
        },
        created() {
            axios.get("api/subscriber/share_count")
                .then(response => (
                    this.SelectedShareCount = response.data[0].SelectedShareCount,
                        this.CharityShareCount = response.data[0].CharityShareCount,
                        this.OpenShareCount = response.data[0].OpenShareCount,
                        this.ContestShareCount = response.data[0].ContestShareCount
                )).catch(error => console.log(error.response.data));
        },
    }
</script>

<style scoped>
    
    button.switch {
        background: none;
        border: 1px solid black;
        margin: 0;
        cursor: pointer;
    }
    
    button.switch[disabled='disabled'] {
        color: lightgray;
        border-color: lightgray;
    }
    
    button.switch:not([disabled='disabled']):hover {
        background-color: lightslategray;
        border-color: gray;
        color: lightgray;
    }
    
    button.selected {
        border-color: deepskyblue;
        color: deepskyblue;
    }
    
    button.charity {
        border-color: green;
        color: green;
    }
    
    button.open {
        border-color: orange;
        color: orange;
    }
    
    button.contest {
        border-color: red;
        color: red;
    }
</style>
