<!--
  - Copyright (c) myfAd Tech Sdn. Bhd.
  - Created by @ahmadfirdaus3112@gmail.com
  -->

<template>
    <div class="container">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Referral Page</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item">
                                <router-link to="/home">Home</router-link>
                            </li>
                            <li class="breadcrumb-item active">Referral</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <div class="row justify-content-center">
            <div class="col">
                <div class="card card-default card-outline">
                    <div class="card-body">
                        <h5 class="card-title">Subscriber Referral Link</h5>
                        
                        <p class="card-text">
                            Use this link to promote new subscriber to register as your down line.
                            Post your subscriber referral page on your Facebook or Whatsapp.
                        </p>
                        
                        <button @click="share_referral" class="btn btn-success float-left"
                        >Share
                            on Facebook
                        </button>
                        <!--<button @click="show" class="btn btn-success float-left">Open Modal</button>-->
                        <a class="btn btn-success float-left" :href="'https://wa.me/?text='+referral.whatsAppLink" target="_blank">Share this</a>
                        
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</template>

<script>
    export default {
        data() {
            return {
                
                referral: {},
                
            };
        },
        methods: {
            show() {
                //this.$modal.show('hello-world');
                $("#modalYT").modal("show");
            },
            searchit: _.debounce(function () {
                // Do Stuff Here
                this.$Progress.start();
                Fire.$emit("searching", this.search);
                this.$Progress.finish();
            }, 1000),
            
            refresh: _.debounce(function () {
                this.$router.go(this.$router.currentRoute);
            }, 100),
            
            getNetwork() {
                axios
                    .get("api/subscriber/subscriber_network")
                    .then(response => (this.referral = response.data))
                    .catch(error => console.log(error.response.data));
            },
            share_referral() {
                
                //const res = encodeURI(url);
                const res = "https%3A%2F%2Fwww.myfad.my%2Fmyfad%2Freferral.php%3Fhash&redirect_uri=https%3A%2F%2Fmobile.myfad.my%2Fhome";
                
                let r = "https://myfad-dev.my/home";
                let redirect = encodeURI(r);
                
                let url2 = 'https://www.facebook.com/dialog/share?'
                    + 'app_id=1700950133453002'
                    + '&display=popup'
                    + '&href=' + res
                    + '&redirect_uri=' + redirect;
                
                location.href = url2;
                
            }
            
        },
        created() {
            this.getNetwork();
            
        },
        computed: {},
        mounted: function () {
            this.$nextTick(function () {
                // Code that will run only after the
                // entire view has been rendered
            });
        }
    };
</script>
