<!--
  - Copyright (c) myfAd Tech Sdn. Bhd.
  - Created by @ahmadfirdaus3112@gmail.com
  -->

<template>
    <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" data-backdrop="static"
         data-keyboard="false" id="exampleModal" role="dialog"
         tabindex="-1">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ads Browser</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card-body">
                        <!--<select id="dropDown" required>
                            <option>Select here</option>
                            <option v-for="choice in pages">{{ choice.mp_name }}</option>
                        </select>-->
                        <div class="input-group">
                            <select @change="onChange()" class="form-control" v-model="key">
                                <option selected value="">Please select</option>
                                <option :value="value.mp_pageid" v-for="(value, key) in pages">{{ value.mp_name }}
                                </option>
                            </select>
                            <button  @click="setPage(1); toggle = true" class="btn btn-primary">
                                Select Page
                            </button>
                        </div>
                        <br>
                        <div id="testa" v-show='toggle'>
                            <div class="text-center">
                                <b-button-group size="lg">
                                    <button @click="setPage(pageNumber)" class="btn btn-outline-primary"
                                            v-for="pageNumber in totalPages"
                                            v-if="Math.abs(pageNumber - currentPage) < 3 || pageNumber == totalPages || pageNumber == 1">
                                        <a :class="{current: currentPage === pageNumber, last: (pageNumber == totalPages && Math.abs(pageNumber - currentPage) > 3), first:(pageNumber == 1 && Math.abs(pageNumber - currentPage) > 3)}"
                                           @click="setPage(pageNumber)" href="#" v-bind:key="pageNumber">{{ pageNumber
                                            }}</a></button>
                                </b-button-group>
                            </div>
                            <br>
                            <!--<ul>
                                <li v-for="item in paginate">{{ item }}</li>
                            </ul>-->
                            <div v-for="item in paginate">
                                <b-card border-variant="primary" class="text-center" no-body>
                                    <div :data-href="item" class="fb-post"
                                         data-adapt-container-width="true" data-show-text="true">
                                    </div>
                                    <br>
                                    <div>
                                        <button @click="onClickPost(item)"
                                                class="btn btn-primary form-control"
                                                type="button">
                                            Choose
                                            this post
                                        </button>
                                    </div>
                                </b-card>
                                <br>
                            </div>
                            <div class="text-center">
                                <b-button-group size="lg">
                                    <button @click="setPage(pageNumber)" class="btn btn-outline-primary"
                                            v-for="pageNumber in totalPages"
                                            v-if="Math.abs(pageNumber - currentPage) < 3 || pageNumber == totalPages || pageNumber == 1">
                                        <a :class="{current: currentPage === pageNumber, last: (pageNumber == totalPages && Math.abs(pageNumber - currentPage) > 3), first:(pageNumber == 1 && Math.abs(pageNumber - currentPage) > 3)}"
                                           @click="setPage(pageNumber)" href="#" v-bind:key="pageNumber">{{ pageNumber
                                            }}</a></button>
                                </b-button-group>
    
                            </div>
                        </div>
                        
                    
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" data-dismiss="modal" type="button">Close</button>
                    </div>
                </div>
            </div>
        
        </div>
    </div>

</template>

<script>
    import _ from "lodash";
    
    export default {
        
        data() {
            return {
                
                messages: "",
                key: "",
                editmode: false,
                ads: {},
                pages: [],
                fb_post: [],
                currentPage: 1,
                itemsPerPage: 5,
                resultCount: 0,
                toggle: false
                
            };
        },
        computed: {
            totalPages: function () {
                return Math.ceil(this.resultCount / this.itemsPerPage)
            },
            paginate: function () {
                if (!this.fb_post || this.fb_post.length != this.fb_post.length) {
                    return
                }
                this.resultCount = this.fb_post.length
                if (this.currentPage >= this.totalPages) {
                    this.currentPage = this.totalPages
                }
                var index = this.currentPage * this.itemsPerPage - this.itemsPerPage
                return this.fb_post.slice(index, index + this.itemsPerPage)
            }
        },
        methods: {
            onClickPost(item) {
                this.$root.$emit('fb_post', item)
                //console.log(item);
                $('#exampleModal').modal('hide')
                
            },
            fb: _.debounce(function () {
                // Do Stuff Here
                this.$Progress.start();
                //window.FB.XFBML.parse();
                FB.XFBML.parse();
                this.$Progress.finish();
            }, 500),
            
            onChange() {
                //this.fb();
                console.log(this.key);
                this.loadFbPost(this.key);
                //this.setPage(1);
                
            },
            setPage: _.debounce(function (pageNumber) {
                this.currentPage = pageNumber;
                this.fb();
                //$('#exampleModal').modal('hide')
            }, 500),
            
            loadFbPost(page_id) {
                
                //this.$Progress.start();
                axios.get("api/fb_post?page_id=" + page_id).then(({data}) => (this.fb_post = data));
                
                //this.$Progress.finish();
                //this.setPage(1);
                //this.fb();
                
            },
            
        },
        
        created() {
            axios
                .get("api/pages")
                .then(response => (this.pages = response.data))
                .catch(error => console.log(error.response.data));
        },
        mounted() {
            $('#exampleModal').on('hidden.bs.modal', function () {
                $('body').addClass('modal-open');
            });
        },
        
    };
</script>

<style scoped>

</style>
