<!--
  - Copyright (c) myfAd Tech Sdn. Bhd.
  - Created by @ahmadfirdaus3112@gmail.com
  -->
<template>
  <div class="container">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Ads Management</h1>
          </div>
          <!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">
                <router-link to="/home">Home</router-link>
              </li>
              <li class="breadcrumb-item active">Ads Management</li>
            </ol>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <!--<div class="row justify-content-center">
            <div class="col">
                <div :key="item.ads_id" class="card card-default card-outline" v-for="item in ads.data">
                    <div class="card-body">
                        <h5 class="card-title">{{item.ads_title}}</h5>

                        <div :id="'fbcontainer'+item.ads_id">
                            <div :data-href="item.ads_url" class="fb-post"
                                 data-adapt-container-width="true" data-show-text="true">
                            </div>

                        </div>
                        <div class="box-footer">
                            <a class="btn btn-primary btn-lg btn-block" href="">
                                <i class="fab fa-facebook-square"></i> Share on Facebook
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    -->
    <div class="row">
      <div class="col">
        <!--<not-found v-if="ads.data && ads.data.length < 1"></not-found>-->
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Advertisement List</h3>
            <div class="card-tools">
              <div class="input-group input-group-sm" style="width: 150px;">
                <input
                  @keyup="searchit"
                  class="form-control float-right"
                  name="search"
                  placeholder="Search"
                  type="search"
                  v-model="search"
                >

                <div class="input-group-append">
                  <button @click="searchit" class="btn btn-primary" type="submit">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0">
            <table class="table table-hover">
              <tbody>
                <tr>
                  <th>No.</th>
                  <th>Ads Title</th>
                  <th>Ads Created Date</th>
                  <th>Paid Share</th>
                  <th>Share Progress</th>
                  <th>Token Refund</th>
                  <!-- <th>Type</th>
                  <th>Registered At</th>-->
                  <th>Boost</th>
                </tr>

                <tr
                  :key="index"
                  v-for="(ad, index) in ads.data"
                  v-if="ads.data && ads.data.length > 0"
                >
                  <td>{{(ads.current_page-1) * ads.per_page + index + 1 }}</td>
                  <td>
                    <a :href="ad.ads_url" target="_blank">
                      <i class="fab fa-facebook-f"></i>
                      {{ad.ads_title}}
                      <i class="fas fa-external-link-alt"></i>
                    </a>
                  </td>
                  <!--<td>{{ad.ads_title}}</td>-->
                  <td>{{ad.ads_created_date}}</td>
                  <td>{{ad.ads_credit}}</td>
                  <td>{{ad.share_progress_count}}</td>
                  <td>{{ad.ads_credit_return}}</td>
                  <!-- <td>{{ user.type|upText</td>
                  <td>user.created_at|myDate</td> }}-->

                  <td>
                    <a @click="editModal(ad)" href="#">
                      <i class="fas fa-retweet blue" title="Boost this ad"></i>
                    </a>
                    <!--<a @click="deleteAds(ad.ads_id)" href="#">
                                        <i class="fa fa-trash red"></i>
                    </a>-->
                  </td>
                </tr>
                <tr style="text-align: center" v-if="ads.data && ads.data.length < 1">
                  <td colspan="7">No Results Found!</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
          <div class="card-footer">
            <pagination
              :data="ads"
              :limit="3"
              :show-disabled="true"
              @pagination-change-page="getResults"
              class="float-right"
            ></pagination>
            <button @click="newModal" class="btn btn-success float-left">
              Add New
              <i class="fas fa-user-plus fa-fw"></i>
            </button>
          </div>
        </div>
        <!-- /.card -->
      </div>
    </div>

    <!-- Modal -->
    <modal1></modal1>
    <modal2></modal2>

    <!-- Modal2 -->
  </div>
</template>

<script>
import modal1 from "./AdsModal.vue";
import modal2 from "./AdsBrowserModal.vue";
import _ from "lodash";

export default {
  components: { modal1, modal2 },

  data() {
    return {
      messages: "",
      key: "",
      search: "",
      editmode: false,
      ads: {},
      form: new Form({
        ads_id: "",
        ads_title: "",
        ads_created_date: ""
      })
    };
  },

  methods: {
    searchit: _.debounce(function() {
      // Do Stuff Here
      this.$Progress.start();
      Fire.$emit("searching", this.search);
      this.$Progress.finish();
    }, 1000),

    getResults(ad = 1) {
      this.$Progress.start();
      axios
        .get("api/merchant_ads/" + this.$route.query.mct_id + "?page=" + ad)
        .then(response => {
          this.ads = response.data;
          this.$Progress.finish();
        });
    },

    updateAds() {
      this.$Progress.start();
      // console.log('Editing data');
      this.form
        .put(
          "api/merchant_ads/" +
            this.$route.query.mct_id +
            "/" +
            this.form.ads_id
        )
        .then(() => {
          // success
          $("#addNew").modal("hide");
          swal(
            this.$t("messages.updated"),
            "Information has been updated.",
            "success"
          );

          Fire.$emit("AfterCreate");
          this.$Progress.finish();
        })
        .catch(() => {
          this.$Progress.fail();
        });
    },
    editModal(ad) {
      this.editmode = true;
      this.form.reset();
      this.$root.$emit("ad", ad);
      $("#addNew").modal("show");
      this.form.fill(ad);
    },
    newModal() {
      this.editmode = false;
      $("#addNew").modal("show");
    },

    deleteAds(ads_id) {
      swal({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!"
      }).then(result => {
        // Send request to the server
        if (result.value) {
          this.form
            .delete("api/merchant_ads/" + ads_id)
            .then(() => {
              swal("Deleted!", "Your file has been deleted.", "success");
              Fire.$emit("AfterCreate");
            })
            .catch(() => {
              swal("Failed!", "There was something wronge.", "warning");
            });
        }
      });
    },
    loadAds() {
      this.$Progress.start();
      axios
        .get("api/merchant_ads/" + this.$route.query.mct_id)
        .then(response => {
          if (response.data.isValid === false) {
            //console.log(response.data);
            //this.errors = response.data.errors1;
            this.$Progress.fail();
            swal(
              "Failed!",
              "You are not authorized to access this page.",
              "warning"
            );
            this.$router.push("/not_found");
          } else {
            //console.log(response.data);
            this.ads = response.data;
            this.$Progress.finish();
          }
        })
        .catch(error => console.log(error.response.data));
    },

    createAds() {
      this.$Progress.start();

      this.form
        .post("api/merchant_ads/" + this.$route.query.mct_id)
        .then(() => {
          Fire.$emit("AfterCreate");
          $("#addNew").modal("hide");

          toast({
            type: "success",
            title: "Ads Created successfully"
          });

          this.$Progress.finish();
        })
        .catch(() => {});
    }
  },

  created() {
    Fire.$on("searching", search => {
      //let query = search;
      axios
        .get("api/findAds?q=" + search)
        .then(data => {
          this.ads = data.data;
        })
        .catch(() => {});
    });
    this.loadAds();
    //this.loadFbPost();
    Fire.$on("AfterCreate", () => {
      this.loadAds();
    });
    //    setInterval(() => this.loadUsers(), 3000);
  }
};
</script>

