<!--
  - Copyright (c) myfAd Tech Sdn. Bhd.
  - Created by @ahmadfirdaus3112@gmail.com
  -->

<template>
  <div
    aria-hidden="true"
    aria-labelledby="addNewLabel"
    class="modal fade"
    data-backdrop="static"
    data-keyboard="false"
    id="addNew"
    role="dialog"
    tabindex="-1"
  >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addNewLabel" v-show="!editmode">Add New</h5>
          <h5 class="modal-title" id="addNewLabel" v-show="editmode">Boost Ad</h5>
          <button
            @click="hideModal"
            aria-label="Close"
            class="close"
            data-dismiss="modal"
            type="button"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form @submit.prevent="validateBeforeSubmit()">
          <div class="modal-body">
            <b-container fluid>
              <b-row class="my-1">
                <b-col sm="2">
                  <label>Fb Post Url:</label>
                </b-col>
                <b-col sm="10">
                  <b-input-group>
                    <b-form-input
                      :class="{ 'is-invalid': form.errors.has('ads_url'), 'is-invalid': errors.first('ads_url') }"
                      class="form-control"
                      disabled
                      name="ads_url"
                      v-model="form.ads_url"
                      v-validate="'required'"
                    />
                    <b-input-group-append>
                      <b-btn
                        @click="newModal1"
                        size="sm"
                        text="Button"
                        v-show="!editmode"
                        variant="outline-primary"
                      >
                        Select
                        Facebook Post
                      </b-btn>
                    </b-input-group-append>
                    <div class="invalid-feedback">{{ errors.first("ads_url") }}</div>
                    <has-error :form="form" field="ads_url"></has-error>
                  </b-input-group>
                </b-col>
              </b-row>
              <!--Input Row-->
              <b-row class="my-1">
                <b-col sm="2">
                  <label>Ads Title:</label>
                </b-col>
                <b-col sm="10">
                  <b-form-input
                    :class="{ 'is-invalid': form.errors.has('ads_title'), 'is-invalid': errors.first('ads_title') }"
                    class="form-control"
                    data-vv-as="Ads Title"
                    name="ads_title"
                    type="text"
                    v-model="form.ads_title"
                    v-validate="'required|alpha'"
                  />
                  <div class="invalid-feedback">{{ errors.first("ads_title") }}</div>
                  <has-error :form="form" field="ads_title"></has-error>
                </b-col>
              </b-row>
              <!--end input row-->
              <!--Input Row-->
              <b-row class="my-1">
                <b-col sm="2">
                  <label>Keyword:</label>
                </b-col>
                <b-col sm="10">
                  <b-form-input
                    :class="{ 'is-invalid': form.errors.has('ads_keyword'), 'is-invalid': errors.first('ads_keyword') }"
                    class="form-control"
                    name="ads_keyword"
                    type="text"
                    v-model="form.ads_keyword"
                    v-validate="'required|alpha'"
                  />
                  <div class="invalid-feedback">{{ errors.first("ads_keyword") }}</div>
                  <has-error :form="form" field="ads_keyword"></has-error>
                </b-col>
              </b-row>
              <!--end input row-->
              <div v-if="form.ads_url">
                <b-card class="text-center" no-body>
                  <div
                    :data-href="form.ads_url"
                    class="fb-post"
                    data-adapt-container-width="true"
                    data-show-text="true"
                  ></div>
                </b-card>
              </div>

              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th>Select States</th>
                  </tr>
                  <tr>
                    <input
                      :class="{ 'is-invalid': form.errors.has('states_checked') }"
                      class="form-control"
                      hidden
                      type="text"
                    >
                    <has-error :form="form" field="states_checked"></has-error>
                  </tr>
                  <tr>
                    <td>
                      <input class="checkboxlistformat" type="checkbox" v-model="selectAllStates">
                      SELECT
                      ALL
                      <div class="row">
                        <div class="col-sm-4 py-2" v-for="(state,index) in states">
                          <form class="form-inline">
                            <div class="form-check">
                              <input
                                :class="{ 'is-invalid': form.errors.has('states_checked') }"
                                :value="state.state_id"
                                class="checkboxlistformat"
                                id="stateCheckBox"
                                name="stateCheckBox"
                                number
                                type="checkbox"
                                v-model="form.states_checked"
                              >
                              <label
                                class="form-check-label"
                                for="stateCheckBox"
                              >{{ state.state_name }}</label>
                            </div>
                          </form>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th>Select Age</th>
                  </tr>
                  <tr>
                    <input
                      :class="{ 'is-invalid': form.errors.has('ages_checked') }"
                      class="form-control"
                      hidden
                      type="text"
                    >
                    <has-error :form="form" field="ages_checked"></has-error>
                  </tr>
                  <tr>
                    <td>
                      <input class="checkboxlistformat" type="checkbox" v-model="selectAllAges">SELECT ALL
                      <div class="row">
                        <div class="col-sm-4 py-2" v-for="age in ages">
                          <form class="form-inline">
                            <div class="form-check">
                              <input
                                :value="age.age_id"
                                class="checkboxlistformat"
                                id="ageCheckBox"
                                name="ageCheckBox"
                                number
                                type="checkbox"
                                v-model="form.ages_checked"
                              >
                              <label class="form-check-label" for="ageCheckBox">
                                {{ age.age_name
                                }}
                              </label>
                            </div>
                          </form>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th>Select Gender</th>
                  </tr>
                  <tr>
                    <td>
                      <input class="checkboxlistformat" type="checkbox" v-model="selectAllGenders">SELECT
                      ALL
                      <div class="row">
                        <div class="col-sm-4 py-2" v-for="gender in genders">
                          <form class="form-inline">
                            <div class="form-check">
                              <input
                                :value="gender.gender_id"
                                class="checkboxlistformat"
                                id="genderCheckBox"
                                name="genderCheckBox"
                                number
                                type="checkbox"
                                v-model="form.genders_checked"
                              >
                              <label
                                class="form-check-label"
                                for="genderCheckBox"
                              >{{ gender.gender_name }}</label>
                            </div>
                          </form>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th>Select Race</th>
                  </tr>
                  <tr>
                    <td>
                      <input class="checkboxlistformat" type="checkbox" v-model="selectAllRaces">SELECT
                      ALL
                      <div class="row">
                        <div class="col-sm-4 py-2" v-for="race in races">
                          <form class="form-inline">
                            <div class="form-check">
                              <input
                                :value="race.race_id"
                                class="checkboxlistformat"
                                id="raceCheckBox"
                                name="raceCheckBox"
                                number
                                type="checkbox"
                                v-model="form.races_checked"
                              >
                              <label class="form-check-label" for="raceCheckBox">
                                {{ race.race_name
                                }}
                              </label>
                            </div>
                          </form>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th>Select Religion</th>
                  </tr>
                  <tr>
                    <td>
                      <input
                        class="checkboxlistformat"
                        type="checkbox"
                        v-model="selectAllReligions"
                      >SELECT
                      ALL
                      <div class="row">
                        <div class="col-sm-4 py-2" v-for="religion in religions">
                          <form class="form-inline">
                            <div class="form-check">
                              <input
                                :value="religion.religion_id"
                                class="checkboxlistformat"
                                id="religionCheckBox"
                                name="religionCheckBox"
                                number
                                type="checkbox"
                                v-model="form.religions_checked"
                              >
                              <label
                                class="form-check-label"
                                for="religionCheckBox"
                              >{{ religion.religion_name }}</label>
                            </div>
                          </form>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th>Select Education</th>
                  </tr>
                  <tr>
                    <td>
                      <input
                        class="checkboxlistformat"
                        type="checkbox"
                        v-model="selectAllEducations"
                      >SELECT
                      ALL
                      <div class="row">
                        <div class="col-sm-4 py-2" v-for="education in educations">
                          <form class="form-inline">
                            <div class="form-check">
                              <input
                                :value="education.el_id"
                                class="checkboxlistformat"
                                id="educationCheckBox"
                                name="educationCheckBox"
                                number
                                type="checkbox"
                                v-model="form.educations_checked"
                              >
                              <label
                                class="form-check-label"
                                for="educationCheckBox"
                              >{{ education.el_name }}</label>
                            </div>
                          </form>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th>Select Occupation</th>
                  </tr>
                  <tr>
                    <td>
                      <input
                        class="checkboxlistformat"
                        type="checkbox"
                        v-model="selectAllOccupations"
                      >SELECT
                      ALL
                      <div class="row">
                        <div class="col-sm-4 py-2" v-for="occupation in occupations">
                          <form class="form-inline">
                            <div class="form-check">
                              <input
                                :value="occupation.occ_id"
                                class="checkboxlistformat"
                                id="occupationCheckBox"
                                name="occupationCheckBox"
                                number
                                type="checkbox"
                                v-model="form.occupations_checked"
                              >
                              <label
                                class="form-check-label"
                                for="occupationCheckBox"
                              >{{ occupation.occ_name }}</label>
                            </div>
                          </form>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th>Select Income</th>
                  </tr>
                  <tr>
                    <td>
                      <input class="checkboxlistformat" type="checkbox" v-model="selectAllIncomes">SELECT
                      ALL
                      <div class="row">
                        <div :key="income.slr_id" class="col-sm-4 py-2" v-for="income in incomes">
                          <form class="form-inline">
                            <div class="form-check">
                              <input
                                :value="income.slr_id"
                                class="checkboxlistformat"
                                id="incomeCheckBox"
                                name="incomeCheckBox"
                                number
                                type="checkbox"
                                v-model="form.incomes_checked"
                              >
                              <label
                                class="form-check-label"
                                for="incomeCheckBox"
                              >{{ income.slr_name }}</label>
                            </div>
                          </form>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th>Select 10 Interest</th>
                  </tr>
                  <tr>
                    <td>
                      <div class="row">
                        <div
                          :key="interest.it_id"
                          class="col-sm-4 py-2"
                          v-for="interest in interests"
                        >
                          <form class="form-inline">
                            <div class="form-check">
                              <input
                                :disabled="form.interests_checked.length > 9 && form.interests_checked.indexOf(interest.it_id) === -1"
                                :value="interest.it_id"
                                class="checkboxlistformat"
                                id="interestCheckBox"
                                name="interestCheckBox"
                                number
                                type="checkbox"
                                v-model="form.interests_checked"
                              >
                              <label class="form-check-label" for="interestCheckBox">
                                {{ interest.it_name }}
                                <br>
                              </label>
                              <br>&nbsp;
                              <i
                                class="fas fa-info-circle"
                                v-b-tooltip.hover.right="interest.it_desc"
                              ></i>
                            </div>
                          </form>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>

              <table v-if="checkbox_valid() == true" class="table table-bordered">
                <tbody>
                  <tr>
                    <b-btn @click="calculate">calculate</b-btn>
                  </tr>
                  <tr>
                    <div>
                      <b-embed type="iframe" :src="src" id="some_frame_id" allowfullscreen></b-embed>
                    </div>
                  </tr>
                </tbody>
              </table>
              <table v-if="checkbox_valid() == true" class="table table-bordered">
                <tbody>
                  <tr>
                    <th>Credit Information</th>
                  </tr>
                  <tr>
                    <div>
                      <div class="form-group">
                        <input
                          class="form-control"
                          name="token_use"
                          placeholder="Token (Share) To Use"
                          type="text"
                          v-validate="'numeric|min_value:10'"
                          v-model="form.token_use"
                          @input="test"
                        >
                        <has-error :form="form" field="token_use"></has-error>
                        <div class="invalid-feedback">{{ errors.first("token_use") }}</div>
                      </div>

                      <div class="form-group">
                        <input
                          :class="{ 'is-invalid': form.errors.has('credits_count') }"
                          class="form-control"
                          name="credits_count"
                          disabled
                          placeholder="Current Token (Share) Balance"
                          type="text"
                          v-model="form.credits_count"
                        >
                        <has-error :form="form" field="credits_count"></has-error>
                      </div>
                      <div class="form-group">
                        <input
                          class="form-control"
                          name="new_token"
                          disabled
                          v-validate="'required|numeric|min_value:0'"
                          placeholder="New Token (Share) Balance"
                          type="text"
                          v-model="form.new_token"
                        >
                        <div class="invalid-feedback">{{ errors.first("new_token") }}</div>
                        <has-error :form="form" field="new_token"></has-error>
                      </div>
                    </div>
                  </tr>
                </tbody>
              </table>
            </b-container>
          </div>
          <div class="modal-footer">
            <button
              @click="hideModal"
              class="btn btn-danger"
              data-dismiss="modal"
              type="button"
            >Close</button>
            <button class="btn btn-success" type="submit" v-show="editmode">Boost</button>
            <button class="btn btn-primary" type="submit" v-show="!editmode">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      ads: {},
      ads_url: "",
      editmode: false,
      form: new Form({
        ads_id: "",
        ads_title: "",
        ads_url: "",
        ads_keyword: "",
        ads_demographics: "",
        states_checked: [],
        ages_checked: [],
        genders_checked: [],
        races_checked: [],
        religions_checked: [],
        educations_checked: [],
        occupations_checked: [],
        incomes_checked: [],
        interests_checked: []
      }),
      states: [],
      ages: [],
      genders: [],
      races: [],
      religions: [],
      educations: [],
      occupations: [],
      incomes: [],
      interests: [],
      src: "",
      toggle: false
    };
  },
  computed: {
    selectAllStates: {
      get: function() {
        return this.states
          ? this.form.states_checked.length === this.states.length
          : false;
      },
      set: function(value) {
        let states_checked = [];

        if (value) {
          this.states.forEach(function(state) {
            states_checked.push(state.state_id);
          });
        }

        this.form.states_checked = states_checked;
      }
    },
    selectAllAges: {
      get: function() {
        return this.ages
          ? this.form.ages_checked.length === this.ages.length
          : false;
      },
      set: function(value) {
        var ages_checked = [];
        if (value) {
          this.ages.forEach(function(age) {
            ages_checked.push(age.age_id);
          });
        }
        this.form.ages_checked = ages_checked;
      }
    },
    selectAllGenders: {
      get: function() {
        return this.genders
          ? this.form.genders_checked.length === this.genders.length
          : false;
      },
      set: function(value) {
        var genders_checked = [];
        if (value) {
          this.genders.forEach(function(gender) {
            genders_checked.push(gender.gender_id);
          });
        }
        this.form.genders_checked = genders_checked;
      }
    },
    selectAllRaces: {
      get: function() {
        return this.races
          ? this.form.races_checked.length === this.races.length
          : false;
      },
      set: function(value) {
        var races_checked = [];
        if (value) {
          this.races.forEach(function(race) {
            races_checked.push(race.race_id);
          });
        }
        this.form.races_checked = races_checked;
      }
    },
    selectAllReligions: {
      get: function() {
        return this.religions
          ? this.form.religions_checked.length === this.religions.length
          : false;
      },
      set: function(value) {
        var religions_checked = [];
        if (value) {
          this.religions.forEach(function(religion) {
            religions_checked.push(religion.religion_id);
          });
        }
        this.form.religions_checked = religions_checked;
      }
    },
    selectAllEducations: {
      get: function() {
        return this.educations
          ? this.form.educations_checked.length === this.educations.length
          : false;
      },
      set: function(value) {
        var educations_checked = [];
        if (value) {
          this.educations.forEach(function(education) {
            educations_checked.push(education.el_id);
          });
        }
        this.form.educations_checked = educations_checked;
      }
    },
    selectAllOccupations: {
      get: function() {
        return this.occupations
          ? this.form.occupations_checked.length === this.occupations.length
          : false;
      },
      set: function(value) {
        let occupations_checked = [];
        if (value) {
          this.occupations.forEach(function(occupation) {
            occupations_checked.push(occupation.occ_id);
          });
        }
        this.form.occupations_checked = occupations_checked;
      }
    },
    selectAllIncomes: {
      get: function() {
        return this.incomes
          ? this.form.incomes_checked.length === this.incomes.length
          : false;
      },
      set: function(value) {
        let incomes_checked = [];
        if (value) {
          this.incomes.forEach(function(income) {
            incomes_checked.push(income.slr_id);
          });
        }
        this.form.incomes_checked = incomes_checked;
      }
    }
  },
  methods: {
    checkbox_valid() {
      if (
        this.form.states_checked.length > 0 &&
        this.form.ages_checked.length > 0 &&
        this.form.genders_checked.length > 0 &&
        this.form.races_checked.length > 0 &&
        this.form.religions_checked.length > 0 &&
        this.form.educations_checked.length > 0 &&
        this.form.occupations_checked.length > 0 &&
        this.form.incomes_checked.length > 0 &&
        this.form.interests_checked.length == 10
      ) {
        return true;
      }
    },
    calculate() {
      let url =
        "https://www.myfad.my/myfad/index.php?controller=Advertisement&action=getSelectedSubscriberGraph&state=" +
        this.form.states_checked +
        "&sex=" +
        this.form.genders_checked +
        "&race=" +
        this.form.races_checked +
        "&salary=" +
        this.form.incomes_checked +
        "&education=" +
        this.form.educations_checked +
        "" +
        "&age=" +
        this.form.ages_checked +
        "&religion=" +
        this.form.religions_checked +
        "&interest=" +
        this.form.interests_checked +
        "";
      this.src = url;

      document.getElementById("some_frame_id").contentWindow.location.reload();
    },
    fb: _.debounce(function() {
      // Do Stuff Here
      this.$Progress.start();
      window.FB.XFBML.parse();
      this.$Progress.finish();
    }, 500),
    hideModal() {
      this.$root.$emit("fb_post", "");
      this.form.reset();
      this.editmode = false;
      $("#addNew").modal("hide");
    },
    newModal1() {
      //this.messages = "";
      $("#exampleModal").modal("show");
      this.getTokenCount();
    },
    createAds() {
      this.$Progress.start();

      this.form
        .post("api/merchant_ads/" + this.$route.query.mct_id)
        .then(() => {
          Fire.$emit("AfterCreate");
          $("#addNew").modal("hide");

          toast({
            type: "success",
            title: "Ads Created successfully"
          });

          this.$Progress.finish();
          this.form.reset();
        })
        .catch(() => {});
    },

    /*loadAds() {
                if (this.$gate.isAdminOrUser()) {
                    this.$Progress.start();
                    axios.get("api/merchant_ads").then(({data}) => (this.ads = data));
                    this.$Progress.finish();
                }
            },*/
    validateBeforeSubmit() {
      this.$validator.validateAll().then(result => {
        if (result) {
          // eslint-disable-next-line
          //alert('Form Submitted!');
          this.createAds();
          console.log(result);
          return;
        }
        console.log(result);
        swal("Failed!", "Please complete the form before submit!", "warning");
      });
    },
    getTokenCount() {
      /*axios.get("api/merchant_ads").then(({data}) => (this.ads = data));*/
      axios
        .get("api/credits/" + this.$route.query.mct_id)
        .then(response => (this.form.credits_count = response.data))
        .catch(error => console.log(error.response.data));
    },
    test() {
      this.form.new_token = this.form.credits_count - this.form.token_use;
    },
    checkbox: _.debounce(function() {
      // Do Stuff Here
      axios
        .get("api/states")
        .then(response => (this.states = response.data))
        .catch(error => console.log(error.response.data));
      axios
        .get("api/ages")
        .then(response => (this.ages = response.data))
        .catch(error => console.log(error.response.data));

      axios
        .get("api/genders")
        .then(response => (this.genders = response.data))
        .catch(error => console.log(error.response.data));
      axios
        .get("api/races")
        .then(response => (this.races = response.data))
        .catch(error => console.log(error.response.data));
      axios
        .get("api/races")
        .then(response => (this.races = response.data))
        .catch(error => console.log(error.response.data));
      axios
        .get("api/religions")
        .then(response => (this.religions = response.data))
        .catch(error => console.log(error.response.data));
      axios
        .get("api/educations")
        .then(response => (this.educations = response.data))
        .catch(error => console.log(error.response.data));
      axios
        .get("api/occupations")
        .then(response => (this.occupations = response.data))
        .catch(error => console.log(error.response.data));
      axios
        .get("api/incomes")
        .then(response => (this.incomes = response.data))
        .catch(error => console.log(error.response.data));

      axios
        .get("api/interests")
        .then(response => (this.interests = response.data))
        .catch(error => console.log(error.response.data));
    }, 1000)
  },

  created() {
    //this.getTokenCount();
    this.checkbox();

    Fire.$on("AfterCreate", () => {
      //this.loadAds();
    });
  },
  mounted: function() {
    this.$nextTick(function() {
      // Code that will run only after the
      // entire view has been rendered
      this.$root.$on("ad", ad => {
        this.editmode = true;
        this.form.ads_url = ad.ads_url;
        this.form.ads_title = ad.ads_title;
        this.form.ads_keyword = ad.ads_keyword;
        this.form.fb_url = ad.ads_url;
        this.fb();
        console.log(ad);
        //states
        this.demo = ad.ads_demographics;
        this.demo = JSON.parse(this.demo);
        console.log(this.demo);

        this.form.states_checked = this.demo.state;
        this.form.ages_checked = this.demo.age;
        this.form.genders_checked = this.demo.gender;
        this.form.races_checked = this.demo.race;
        this.form.religions_checked = this.demo.religion;
        this.form.educations_checked = this.demo.education;
        this.form.occupations_checked = this.demo.occupation;
        this.form.incomes_checked = this.demo.income;
        this.form.interests_checked = this.demo.interest;

        this.form.credits_count = ad.credits_count;
      });
      this.$root.$on("fb_post", item => {
        //...
        this.form.ads_url = item;
        this.form.fb_url = item;
        this.fb();
        console.log(item);
      });
    });
  }
};
</script>

<style scoped>
</style>
