<!--
  - Copyright (c) myfAd Tech Sdn. Bhd.
  - Created by @ahmadfirdaus3112@gmail.com
  -->

<template>
	<div class="container">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0 text-dark">Page Management</h1>
					</div>
					<!-- /.col -->
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item">
								<router-link to="/home">Home</router-link>
							</li>
							<li class="breadcrumb-item active">Page Management</li>
						</ol>
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</div>
		<!-- /.content-header -->
		<div class="row">
			<div class="col">
				<!--<not-found v-if="pages.data && pages.data.length < 1"></not-found>-->
				<div class="card">
					<div class="card-header">
						<h3 class="card-title">Merchant Page</h3>
						<div class="card-tools">
							<div class="input-group input-group-sm" style="width: 150px;">
								<input
									@keyup="searchit"
									class="form-control float-right"
									name="search"
									placeholder="Search"
									type="search"
									v-model="search"
								>
								
								<div class="input-group-append">
									<button @click="searchit" class="btn btn-primary" type="submit">
										<i class="fa fa-search"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
					<!-- /.card-header -->
					<div class="card-body table-responsive p-0">
						<table class="table table-hover">
							<tbody>
							<tr>
								<th>No.</th>
								<th>Page Name</th>
								<th>Page ID</th>
								<!-- <th>Type</th>
                                <th>Registered At</th>-->
								<th>Operation</th>
							</tr>
							
							<tr
								:key="index"
								v-for="(page, index) in pages.data"
								v-if="pages.data && pages.data.length > 1"
							>
								<td>{{(pages.current_page-1) * pages.per_page + index + 1 }}</td>
								<td>{{page.mp_name}}</td>
								<td>
									<a :href="'https://www.facebook.com/'+page.mp_pageid" target="_blank">
										<i class="fab fa-facebook-f"></i>
										{{page.mp_pageid}}
										<i class="fas fa-external-link-alt"></i>
									</a>
								</td>
								<!-- <td>{{ user.type|upText</td>
                                <td>user.created_at|myDate</td> }}-->
								
								<td>
									<a @click="editModal(page)" href="#">
										<button class="btn btn-primary btn-sm" type="button">
											Edit
											<i class="fa fa-edit"></i>
										</button>
									</a>
									<a @click="deletePage(page.mp_id)" href="#">
										<button class="btn btn-danger btn-sm" type="button">
											Delete
											<i class="fa fa-trash"></i>
										</button>
									</a>
								</td>
							</tr>
							<tr style="text-align: center" v-if="pages.data && pages.data.length < 1">
								<td colspan="4">No Results Found!</td>
							</tr>
							</tbody>
						</table>
					</div>
					<!-- /.card-body -->
					<div class="card-footer">
						<pagination
							:data="pages"
							:limit="3"
							:show-disabled="true"
							@pagination-change-page="getResults"
							class="float-right"
						></pagination>
						<button @click="newModal" class="btn btn-success float-left">
							Add New
							<i class="fas fa-user-plus fa-fw"></i>
						</button>
					</div>
				</div>
				<!-- /.card -->
			</div>
		</div>
		
		<!-- Modal -->
		<div
			aria-hidden="true"
			aria-labelledby="addNewLabel"
			class="modal fade"
			id="addNew"
			role="dialog"
			tabindex="-1"
		>
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="addNewLabel" v-show="!editmode">Add New</h5>
						<h5 class="modal-title" id="addNewLabel" v-show="editmode">Update Merchant Page Info</h5>
						<button aria-label="Close" class="close" data-dismiss="modal" type="button">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<form @submit.prevent="editmode ? updatePage() : createPage()">
						<div class="modal-body">
							<div class="form-group">
								<input
									:class="{ 'is-invalid': form.errors.has('mp_name') }"
									class="form-control"
									name="page_name"
									placeholder="Page Name"
									type="text"
									v-model="form.mp_name"
								>
								<has-error :form="form" field="mp_name"></has-error>
							</div>
							
							<div class="form-group">
								<input
									:class="{ 'is-invalid': form.errors.has('mp_pageid') }"
									class="form-control"
									name="page_id"
									placeholder="Page ID"
									type="text"
									v-model="form.mp_pageid"
								>
								<has-error :form="form" field="mp_pageid"></has-error>
							</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-danger" data-dismiss="modal" type="button">Close</button>
							<button class="btn btn-success" type="submit" v-show="editmode">Update</button>
							<button class="btn btn-primary" type="submit" v-show="!editmode">Create</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!--fggg-->
	</div>
</template>

<script>
	import _ from "lodash";
	
	export default {
		data() {
			return {
				//mct_id: this.$route.query.mct_id,
				search: "",
				editmode: false,
				pages: {},
				form: new Form({
					mp_id: "",
					mp_name: "",
					mp_pageid: ""
				})
			};
		},
		methods: {
			searchit: _.debounce(function () {
				// Do Stuff Here
				this.$Progress.start();
				Fire.$emit("searching", this.search);
				this.$Progress.finish();
			}, 1000),
			
			getResults(page = 1) {
				this.$Progress.start();
				axios
					.get("api/merchant_page/" + this.$route.query.mct_id + "?page=" + page)
					.then(response => {
						this.pages = response.data;
						this.$Progress.finish();
					});
			},
			updatePage() {
				this.$Progress.start();
				// console.log('Editing data');
				this.form
					.put("api/merchant_page/" + this.form.mp_id)
					.then(() => {
						// success
						$("#addNew").modal("hide");
						swal(
							this.$t("messages.updated"),
							"Information has been updated.",
							"success"
						);
						
						Fire.$emit("AfterCreate");
						this.$Progress.finish();
					})
					.catch(() => {
						this.$Progress.fail();
					});
			},
			editModal(page) {
				this.editmode = true;
				this.form.reset();
				$("#addNew").modal("show");
				this.form.fill(page);
			},
			newModal() {
				this.editmode = false;
				this.form.reset();
				$("#addNew").modal("show");
			},
			deletePage(mp_id) {
				swal({
					title: "Are you sure?",
					text: "You won't be able to revert this!",
					type: "warning",
					showCancelButton: true,
					confirmButtonColor: "#3085d6",
					cancelButtonColor: "#d33",
					confirmButtonText: "Yes, delete it!"
				}).then(result => {
					// Send request to the server
					if (result.value) {
						this.form
							.delete("api/merchant_page/" + mp_id)
							.then(() => {
								swal("Deleted!", "Your file has been deleted.", "success");
								Fire.$emit("AfterCreate");
							})
							.catch(() => {
								swal("Failed!", "There was something wrong.", "warning");
							});
					}
				});
			},
			loadPages() {
				this.$Progress.start();
				axios
					.get("api/merchant_page/" + this.$route.query.mct_id)
					.then(response => {
						if (response.data.isValid === false) {
							//console.log(response.data);
							//this.errors = response.data.errors1;
							swal(
								"Failed!",
								"You are not authorized to access this page.",
								"warning"
							);
							this.$router.push("/not_found");
						} else {
							//console.log(response.data);
							this.pages = response.data;
							this.$Progress.finish();
						}
					})
					.catch(error => console.log(error.response.data));
			},
			
			createPage() {
				this.$Progress.start();
				
				this.form
					.post("api/merchant_page/" + this.$route.query.mct_id)
					.then(() => {
						Fire.$emit("AfterCreate");
						$("#addNew").modal("hide");
						
						toast({
							type: "success",
							title: "Page Created successfully"
						});
						this.$Progress.finish();
					})
					.catch(() => {
					});
			}
		},
		created() {
			Fire.$on("searching", search => {
				let query = search;
				axios
					.get("api/findPage?q=" + query)
					.then(data => {
						this.pages = data.data;
					})
					.catch(() => {
					});
			});
			this.loadPages();
			Fire.$on("AfterCreate", () => {
				this.loadPages();
			});
			//    setInterval(() => this.loadUsers(), 3000);
		}
	};
</script>

<style scoped>
</style>
