<!--
  - Copyright (c) myfAd Tech Sdn. Bhd.
  - Created by @ahmadfirdaus3112@gmail.com
  -->

<template>
  <div class="container">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Network</h1>
          </div>
          <!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">
                <router-link to="/home">Home</router-link>
              </li>
              <li class="breadcrumb-item active">Network</li>
            </ol>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="row justify-content-center">
      <div class="col">
        <div class="card card-default card-outline">
          <div class="card-body">
            <h5 class="card-title">Message to Downlines</h5>

            <b-container fluid>
              <form @submit.prevent="updateMsg()" class="needs-validation" novalidate>
                <div class="form-group">
                  <div class="form-group row">
                    <label
                      class="col-sm-4 col-form-label"
                      for="validationCustom04"
                    >Send Your Message to Downlines</label>
                    <div class="col-sm-8">
                      <input
                        class="form-control"
                        id="validationCustom04"
                        name="sbr_msg"
                        placeholder="Your message here"
                        required
                        type="text"
                        v-model="form.sbr_msg"
                        value
                      >
                    </div>
                  </div>
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
                <button class="btn btn-danger" type="reset">Reset</button>
              </form>
            </b-container>
          </div>
        </div>
      </div>
    </div>
    <!---->
    <div class="row justify-content-center">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Level 1 ({{lvl1_list.total}})</h3>
            <div class="card-tools">
              <div class="input-group input-group-sm" style="width: 150px;">
                <input
                  @keyup="searchit"
                  class="form-control float-right"
                  name="search"
                  placeholder="Search"
                  type="search"
                  v-model="search"
                >

                <div class="input-group-append">
                  <button @click="searchit" class="btn btn-primary" type="submit">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0">
            <table class="table table-hover">
              <tbody>
                <tr>
                  <th>No.</th>
                  <th>Name</th>
                  <th>Register Date</th>
                </tr>

                <tr
                  :key="index"
                  v-for="(page, index) in lvl1_list.data"
                  v-if="lvl1_list.data && lvl1_list.data.length > 0"
                >
                  <td>{{(lvl1_list.current_page-1) * lvl1_list.per_page + index + 1 }}</td>
                  <td>{{page.sbr_name}}&nbsp;{{page.sbr_lastname}}</td>
                  <td>{{page.sbr_created_date | moment("DD-MM-YYYY")}}</td>
                </tr>
                <tr v-if="lvl1_list.data && lvl1_list.data.length < 1">
                  <td></td>
                  <td>No Results!</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
          <div class="card-footer">
            <pagination
              :data="lvl1_list"
              :limit="3"
              :show-disabled="true"
              @pagination-change-page="getResults_lvl1"
              class="float-right"
            ></pagination>
          </div>
        </div>
        <!---->

        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Level 2 ({{lvl2_list.total}})</h3>
            <div class="card-tools">
              <div class="input-group input-group-sm" style="width: 150px;">
                <input
                  @keyup="searchit"
                  class="form-control float-right"
                  name="search"
                  placeholder="Search"
                  type="search"
                  v-model="search"
                >

                <div class="input-group-append">
                  <button @click="searchit" class="btn btn-primary" type="submit">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0">
            <table class="table table-hover">
              <tbody>
                <tr>
                  <th>No.</th>
                  <th>Name</th>
                  <th>Register Date</th>
                </tr>

                <tr
                  :key="index"
                  v-for="(page, index) in lvl2_list.data"
                  v-if="lvl2_list.data && lvl2_list.data.length > 0"
                >
                  <td>{{(lvl2_list.current_page-1) * lvl2_list.per_page + index + 1 }}</td>
                  <td>{{page.sbr_name}}&nbsp;{{page.sbr_lastname}}</td>
                  <td>{{page.sbr_created_date | moment("DD-MM-YYYY")}}</td>
                </tr>
                <tr v-if="lvl1_list.data && lvl1_list.data.length < 1">
                  <td></td>
                  <td>No Results!</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
          <div class="card-footer">
            <pagination
              :data="lvl2_list"
              :limit="3"
              :show-disabled="true"
              @pagination-change-page="getResults_lvl2"
              class="float-right"
            ></pagination>
          </div>
        </div>
        <!---->

        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Network Merchant ({{network_merchant_list.total}})</h3>
            <div class="card-tools">
              <div class="input-group input-group-sm" style="width: 150px;">
                <input
                  @keyup="searchit"
                  class="form-control float-right"
                  name="search"
                  placeholder="Search"
                  type="search"
                  v-model="search"
                >

                <div class="input-group-append">
                  <button @click="searchit" class="btn btn-primary" type="submit">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0">
            <table class="table table-hover">
              <tbody>
                <tr>
                  <th>No.</th>
                  <th>Merchant Name</th>
                  <th>Company/Business Name</th>
                  <th>Register Date</th>
                  <th>Email</th>
                </tr>

                <tr :key="index" v-for="(page, index) in network_merchant_list.data">
                  <td>
                    {{(network_merchant_list.current_page-1) * network_merchant_list.per_page + index +
                    1 }}
                  </td>
                  <td>{{page.mct_pic}}</td>
                  <td>{{page.mct_name}}</td>
                  <td>{{page.mct_created_date | moment("DD-MM-YYYY")}}</td>
                  <td>
                    <a :href="'mailto:'+page.mct_email" target="_top">
                      {{page.mct_email}}
                      <i class="fas fa-external-link-alt"></i>
                    </a>
                  </td>
                </tr>
                <tr v-if="network_merchant_list.data && network_merchant_list.data.length < 1">
                  <td></td>
                  <td></td>
                  <td>No Results!</td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
          <div class="card-footer">
            <pagination
              :data="network_merchant_list"
              :limit="3"
              :show-disabled="true"
              @pagination-change-page="getResults_merchants"
              class="float-right"
            ></pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      search: "",
      curr_page: "",
      lvl1_list: {},
      lvl2_list: {},
      sbr_message: {},
      network_merchant_list: {},
      form: new Form({
        sbr_msg: ""
      })
    };
  },
  methods: {
    validateBeforeSubmit() {
      this.$validator.validateAll().then(result => {
        if (result) {
          // eslint-disable-next-line
          //alert('Form Submitted!');
          this.updateInfo();
          console.log(result);
          return;
        }
        console.log(result);
        swal("Failed!", "Please complete the form before submit!", "warning");
      });
    },

    getResults_lvl1(page = 1) {
      this.$Progress.start();
      axios.get("api/subscriber/lvl_1?page=" + page).then(response => {
        this.lvl1_list = response.data;
        this.$Progress.finish();
      });
    },
    getResults_lvl2(page = 1) {
      this.$Progress.start();
      axios.get("api/subscriber/lvl_2?page=" + page).then(response => {
        this.lvl2_list = response.data;
        this.$Progress.finish();
      });
    },
    getResults_merchants(page = 1) {
      this.$Progress.start();
      axios
        .get("api/subscriber/network_merchant?page=" + page)
        .then(response => {
          this.network_merchant_list = response.data;
          this.$Progress.finish();
        });
    },
    searchit: _.debounce(function() {
      // Do Stuff Here
      this.$Progress.start();
      Fire.$emit("searching", this.search);
      this.$Progress.finish();
    }, 1000),

    refresh: _.debounce(function() {
      this.$router.go(this.$router.currentRoute);
    }, 100),
    getSbrMsg() {
      axios
        .get("api/subscriber/subscriber_message")
        .then(
          response => (
            (this.sbr_message = response.data), this.form.fill(this.sbr_message)
          )
        )
        .catch(error => console.log(error.response.data));
    },

    getNetwork() {
      axios
        .get("api/subscriber/subscriber_network")
        .then(response => (this.network_list = response.data))
        .catch(error => console.log(error.response.data));
    },
    getlvl1() {
      axios
        .get("api/subscriber/lvl_1")
        .then(response => (this.lvl1_list = response.data))
        .catch(error => console.log(error.response.data));
    },
    getlvl2() {
      axios
        .get("api/subscriber/lvl_2")
        .then(response => (this.lvl2_list = response.data))
        .catch(error => console.log(error.response.data));
    },
    getnetworkmerchant() {
      axios
        .get("api/subscriber/network_merchant")
        .then(response => (this.network_merchant_list = response.data))
        .catch(error => console.log(error.response.data));
    },
    updateMsg() {
      this.$Progress.start();
      // console.log('Editing data');
      this.form
        .put("api/subscriber/subscriber_message_update")
        .then(() => {
          // success
          swal(
            this.$t("messages.updated"),
            "Information has been updated.",
            "success"
          );

          Fire.$emit("AfterCreate");
          this.$Progress.finish();
        })
        .catch(() => {
          this.$Progress.fail();
        });
    }
  },
  created() {
    this.getnetworkmerchant();
    this.getlvl1();
    this.getlvl2();
    this.getSbrMsg();
    Fire.$on("AfterCreate", () => {
      this.getSbrMsg();
    });
  },
  computed: {},
  mounted: function() {
    this.$nextTick(function() {
      // Code that will run only after the
      // entire view has been rendered
    });
  }
};
</script>
