<!--
  - Copyright (c) myfAd Tech Sdn. Bhd.
  - Created by @ahmadfirdaus3112@gmail.com
  -->

<style>
    .widget-user-header{
        background-position: center center;
        background-size: cover;
        height: 250px !important;
    }
    .widget-user .card-footer{
        padding: 0;
    }

</style>


<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-3">
                <div class="card card-widget widget-user">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                    <div class="widget-user-header text-white" style="background-image:url('./img/user-cover.jpg')">
                        <h3 class="widget-user-username">{{form.name}}</h3>
                        <h5 class="widget-user-desc">{{form.type}}</h5>
                    </div>
                    <div class="widget-user-image">
                        <img class="img-circle" :src="profile_pic.picture.url" alt="User Avatar">
                    </div>
                    <!--<div class="card-footer">
                        <div class="row">
                            <div class="col-sm-4 border-right">
                                <div class="description-block">
                                    <h5 class="description-header">3,200</h5>
                                    <span class="description-text">SALES</span>
                                </div>
                                &lt;!&ndash; /.description-block &ndash;&gt;
                            </div>
                            &lt;!&ndash; /.col &ndash;&gt;
                            <div class="col-sm-4 border-right">
                                <div class="description-block">
                                    <h5 class="description-header">13,000</h5>
                                    <span class="description-text">FOLLOWERS</span>
                                </div>
                                &lt;!&ndash; /.description-block &ndash;&gt;
                            </div>
                            &lt;!&ndash; /.col &ndash;&gt;
                            <div class="col-sm-4">
                                <div class="description-block">
                                    <h5 class="description-header">35</h5>
                                    <span class="description-text">PRODUCTS</span>
                                </div>
                                &lt;!&ndash; /.description-block &ndash;&gt;
                            </div>
                            &lt;!&ndash; /.col &ndash;&gt;
                        </div>
                        &lt;!&ndash; /.row &ndash;&gt;
                    </div>-->
                </div>
            </div>
            
            <!-- tab -->
            
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a class="nav-link active show" href="#activity"
                                                    data-toggle="tab">Info</a></li>
                            <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Edit</a>
                            </li>
                        </ul>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <!-- Activity Tab -->
                            <div class="tab-pane active show" id="activity">
                                <h3 class="text-center">Display User Info</h3>
                            </div>
                            <!-- Setting Tab -->
                            <div class="tab-pane" id="settings">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label for="inputName" class="col-sm-2 control-label">Name</label>
                                        
                                        <div class="col-sm-12">
                                            <input type="text" v-model="form.sbr_name" class="form-control" id="inputName"
                                                   placeholder="Name" :class="{ 'is-invalid': form.errors.has('sbr_name') }">
                                            <has-error :form="form" field="sbr_name"></has-error>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                                        
                                        <div class="col-sm-12">
                                            <input type="email" v-model="form.sbr_email" class="form-control" id="inputEmail" placeholder="Email" :class="{ 'is-invalid': form.errors.has('sbr_email') }">
                                            <has-error :form="form" field="sbr_email"></has-error>
                                        </div>
                                    </div>
                                    
                                    
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-12">
                                            <button @click.prevent="updateInfo" type="submit" class="btn btn-success">Update</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- end tabs -->
        </div>
    </div>
</template>


<script>
    export default {
        data() {
            return {
                profile_pic: {picture: {}},
                form: new Form({
                    id: '',
                    sbr_name: '',
                    sbr_email: '',
                    password: '',
                    type: '',
                    bio: '',
                    photo: ''
                })
            }
        },
        mounted() {

            console.log('Component mounted.')
        },

        methods: {

            getProfilePhoto() {
    
                axios
                    .get("api/userprofile")
                    .then(response => (this.profile_pic = response.data))
                    .catch(error => console.log(error.response.data));
            },

            updateInfo() {
                this.$Progress.start();
                if (this.form.password == '') {
                    this.form.password = undefined;
                }
                this.form.put('api/subscriber/profile')
                    .then(() => {
                        swal(
                            'Updated!',
                            'Information has been updated.',
                            'success'
                        );
                        //Fire.$emit('AfterCreate');
                        this.$Progress.finish();
                    })
                    .catch(() => {
                        this.$Progress.fail();
                    });
            },
            
        },

        created() {
            this.$Progress.start();
            this.getProfilePhoto();
            axios.get("api/subscriber/profile")
                .then(({data}) => (this.form.fill(data)));
            this.$Progress.finish();
        }
    }
</script>
