<!--
  - Copyright (c) myfAd Tech Sdn. Bhd.
  - Created by @ahmadfirdaus3112@gmail.com
  -->

<template>
    <div class="container">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Merchant Register</h1>
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item">
                                <router-link to="/home">Home</router-link>
                            </li>
                            <li class="breadcrumb-item active">Merchant Register</li>
                        </ol>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <div class="row">
            <div class="col">
                <div class="card card-default card-outline">
                    <div class="card-body">
                        <h5 class="card-title">Merchant Details</h5>
                        <b-container fluid>
                            <form
                                @reset="onReset"
                                @submit.prevent="validateBeforeSubmit()"
                                class="needs-validation"
                                novalidate
                                v-if="show"
                            >
                                <div class="form-group">
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label" for="validationCustom04">
                                            Business / Company Name:
                                        </label>
                                        <div class="col-sm-10">
                                            <input
                                                class="form-control"
                                                id="validationCustom04"
                                                name="mct_name"
                                                placeholder="Business / Company Name"
                                                required
                                                type="text"
                                                v-model="form.mct_name"
                                                v-validate="'required'"
                                                value
                                            >
                                            <div class="invalid-feedback">{{ errors.first("mct_name") }}</div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label" for="validationCustom04">
                                            Business Addrress:
                                        </label>
                                        <div class="col-sm-10">
                                            <input
                                                class="form-control"
                                                id="validationCustom04"
                                                name="mct_addr"
                                                placeholder="Business Addrress"
                                                required
                                                type="text"
                                                v-model="form.mct_addr"
                                                v-validate="'required'"
                                                value
                                            >
                                            <div class="invalid-feedback">{{ errors.first("mct_addr") }}</div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label" for="validationCustom02">
                                            State
                                            Name
                                        </label>
                                        <div class="col-sm-10">
                                            <select
                                                class="form-control"
                                                id="validationCustom02"
                                                name="mct_province"
                                                required
                                                v-model="form.mct_province"
                                                v-on:change="onChange"
                                                v-validate="'required'"
                                            >
                                                <option value>Select State</option>
                                                <option
                                                    v-bind:value="key"
                                                    v-for="(value, key) in cashout_details.state_list"
                                                >{{value}}
                                                </option>
                                            </select>
                                            <div class="invalid-feedback">{{ errors.first("mct_province") }}</div>
                                        </div>
                                    </div>
                                    <div class="form-group row" v-if="form.sbr_state">
                                        <label class="col-sm-2 col-form-label" for="validationCustom03">
                                            City
                                            Name
                                        </label>
                                        <div class="col-sm-10">
                                            <select
                                                class="form-control"
                                                id="validationCustom03"
                                                name="mct_city"
                                                required
                                                v-model="form.mct_city"
                                                v-validate="'required'"
                                            >
                                                <option value>Select City</option>
                                                <option
                                                    :key="key"
                                                    v-bind:value="key"
                                                    v-for="(value, key) in city_list"
                                                >{{value}}
                                                </option>
                                            </select>
                                            <div class="invalid-feedback">{{ errors.first("mct_city") }}</div>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label" for="validationCustom05">
                                            Phone No.
                                        </label>
                                        <div class="col-sm-10">
                                            <input
                                                class="form-control"
                                                data-vv-as="IC"
                                                id="validationCustom05"
                                                name="mct_phone"
                                                placeholder="Phone No."
                                                required
                                                type="number"
                                                v-model="form.mct_phone"
                                                v-validate="'required|numeric'"
                                            >
                                            <div class="invalid-feedback">{{ errors.first("mct_phone") }}</div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label" for="validationCustom04">
                                            Name of Person In Charge:
                                        </label>
                                        <div class="col-sm-10">
                                            <input
                                                class="form-control"
                                                id="validationCustom04"
                                                name="mct_pic"
                                                placeholder="Name of Person In Charge"
                                                required
                                                type="text"
                                                v-model="form.mct_pic"
                                                v-validate="'required'"
                                                value
                                            >
                                            <div class="invalid-feedback">{{ errors.first("mct_pic") }}</div>
                                        </div>
                                    </div>
                                </div>
                                
                                <button class="btn btn-primary" type="submit">Submit</button>
                                <button class="btn btn-danger" type="reset">Reset</button>
                            </form>
                        </b-container>
                    </div>
                </div>
            
            </div>
        </div>
        <!-- Main content -->
        <!-- /.card-body -->
        <!-- /.card-body -->
    </div>
</template>

<script>
    export default {
        data() {
            return {
                search: "",
                curr_page: "",
                cashout_details: {},
                cashout_history: {},
                city_list: "",
                city_list2: "",
                form: new Form({
                    sbr_bank: "",
                    sbr_state: "",
                    sbr_city: "",
                    sbr_bank_accholder: "",
                    sbr_bank_ic: "",
                    sbr_bank_no: "",
                    sbr_postcode: "",
                    sbr_earning: "",
                    sbr_cashout_amount: "",
                    sbr_balance: 0
                }),
                show: true
            };
        },
        methods: {
            validateBeforeSubmit() {
                this.$validator.validateAll().then(result => {
                    if (result) {
                        // eslint-disable-next-line
                        //alert('Form Submitted!');
                        //this.updateInfo();
                        this.test();
                        console.log(result);
                        return;
                    }
                    console.log(result);
                    swal("Failed!", "Please complete the form before submit!", "warning");
                });
            },
            updateInfo() {
                this.$Progress.start();
                
                this.form
                    .post("api/subscriber/post_cashout")
                    .then(() => {
                        swal("Success!", "Cashout request submitted.", "success");
                        Fire.$emit('AfterCreate');
                        this.$Progress.finish();
                    })
                    .catch(() => {
                        this.$Progress.fail();
                    });
            },
            
            checkForm(evt) {
                evt.preventDefault();
                evt.target.classList.add("was-validated");
            },
            onReset(evt) {
                evt.preventDefault();
                /* Reset our form values */
                //this.form.reset();
                this.form.fill(this.cashout_details);
                /* Trick to reset/clear native browser form validation state */
                this.show = false;
                this.$nextTick(() => {
                    this.show = true;
                });
            },
            
            refresh: _.debounce(function () {
                this.$router.go(this.$router.currentRoute);
            }, 100),
            onChange() {
                axios
                    .get("api/subscriber/get_city/" + this.form.sbr_state)
                    .then(response => (this.city_list = response.data))
                    .catch(error => console.log(error.response.data));
            },
    
            cashoutdetails() {
                axios
                    .get("api/subscriber/cashout_details")
                    .then(
                        response => (
                            (this.cashout_details = response.data,
                                this.city_list = this.cashout_details.city_list)))
                    .catch(error => console.log(error.response.data));
            },
            
        },
        created() {
            this.cashoutdetails();
            
            Fire.$on("AfterCreate", () => {
            
            });
        },
        computed: {},
        mounted: function () {
            this.$nextTick(function () {
                // Code that will run only after the
                // entire view has been rendered
            });
        }
    };
</script>

<style scoped>
</style>
